.innerHeaderIcon {
    min-width: 270px;
}
.searchEvents .input-group .form-control {
    width: calc(100% - 70px);
}
.innerBodyHeader {
    justify-content: space-between;
}
.innerBodyHeader .headerAvtar, .headerAvtar  {
    margin-left: 0;
    width: calc(100% - 260px);
    justify-content: flex-end;
}
.innerLogoRight {
    width: calc(100% - 310px);
}
@media (max-width: 1100px) {
    .innerBodyOnly .container-fluid,
    .innerBodyOnly.homeBody {
        padding-left: 15px  !important;
        padding-right: 15px !important;
    }
  }



.tab-content>.active {
    opacity: 1;
}
.leftSlidePan {
    position: absolute;
    width: 299px;
    left: 0px;
    top: 0;
    transition: all ease-in-out 0.3s;
    z-index: 999;
}
.rightSlidePan {
    position: absolute;
    width: 299px;
    right: 0;
    top: 0;
    transition: all ease-in-out 0.3s;
    z-index: 999;
    
}
.midPan {
    /* width: calc(100% - 640px);
    margin-left: 320px;
    margin-right: 320px; */
    width: calc(100% - 650px);
    margin-left: 325px;
    margin-right: 325px;
}
.leftSlidePan,
.rightSlidePan {
  width: 325px !important;
}
.matchCountNumber {
    color: #3b71b9;
    font-size: 20px;
}
.matchCountText {
    color: #3b71b9;
    font-size: 14px;
}
.borderleftright {
    border-left: 1px solid #3b71b9;
    border-right: 1px solid #3b71b9;
}
.feedTab li {
    width: 50%;
    text-align: center;
    padding-top: 26px;
}
.feedTab li a {
    color: #b8b8b8;
    font-size: 16px;
}
.feedTab li a.active {
    color: #3b71b9;
    font-size: 16px;
    text-decoration: underline;
}
.matchHolder {
    background-color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    text-align: center;
    padding: 10px 12px;
}
.matchHolder h5 {
    font-weight: 600;
    font-size: 14px;
    color: #3b71b9;
}
.slidenumb {
    font-size: 16px;
    color: #91d639;
}
.matchSlideHold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.matchMinMax {
    display: flex;
    flex-direction: column;
    min-width: 59px;
}
.minMaxText {
    font-weight: 600;
    font-size: 11px;
    color: #3b71b9;
    display: block;
    line-height: 12px;
}
.minMaxInfo {
    font-weight: 400;
    font-size: 10px;
    color: #b8b8b8;
    line-height: 12px;
}
.slideMatch {
    width: 140px;
    width: 100%;
    height: 5px;
    background-color: #b8b8b8;
    position: relative;
    margin-top: 9px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
}
.slideBar {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    background-color: #3b71b9;
    width: 50%;
}
.slideBullet {
    position: absolute;
    right: 0;
    top: -7px;
}
.perEvent {
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    padding-top: 7px;
}
.perEvent img {
    margin: 0 auto;
    display: block;
}
.perEvent span {
    background-color: #91d639;
    color: #fff;
    /* font-size: 17px; */
    font-size: 15px;
    /* display: block; */
    text-align: center;
    border-radius: 0 0 7px 7px;
    /* line-height: 30px; */
    line-height: 13px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.orangeText {
    color: #ff9900 !important;
}
.leftrightHeading {
    font-size: 20px;
    color: #3b71b9;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}
.feedImg {
    display: flex;
    flex-direction: row;
}
.feedImg div, .feedImg div img {
    /*width: 40px;
    height: 40px;*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.feedadd {
    position: absolute;
    left: 51px;
    top: 15px;
}
.connectedInfo p {
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin: 0;
    padding: 0;
}
.connectedInfo p i {
    color: #3b71b9;
    font-style: normal;
}
.connectedInfo span {
    font-weight: 400;
    font-size: 11px;
    color: #91d639;
}
.feedInfo {
    margin-bottom: 15px;
}
.feedInfo p {
    font-weight: 400;
    font-size: 13px;
    color: #3b71b9;
    margin-top: 0;
    margin-bottom: 0;
}
.feedInfo p span {
    color: #000;
}
.greenCountFeed {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #91d639;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 7px;
}
.uploadPhotoHeading {
    margin-top: 15px;
    font-weight: 400;
    font-size: 13px;
    color: #000;
}
.dismissButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    color: #b8b8b8;
    font-size: 10px;
    padding: 0 15px;
    margin-left: 15px;
}
.messageButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    color: #3b71b9;
    font-size: 10px;
    margin: 0!important;
    font-weight: 800;
}
.messageButton:hover{
    color: #3b71b9;
}
.messageButton img{
    margin-right: 0px;
    max-height: 10px;
}
.tagstarButton {
    display: inline-block;
    border-radius: 15px;
    background-color: #ff9900;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding: 0 15px;
}
.panelslideOpenButton, .eventList .innerLogoRight {
    display: none;
}
.forgotpassLink {
    font-weight: 400;
    font-size: 14px;
    color: #3b71b9;
}
.forgotpassLink:hover {
    text-decoration: underline;
    color: #3b71b9;
}
.bankDetailsTitle3 {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    color: #b8b8b8;
    margin-top: -6px;
  }
.linkAccountList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.linkAccountList li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
}
.linkAccountList li span {
    font-weight: 400;
    font-size: 20px;
    color: #000;
}










@media (max-width: 950px) {
    .panelslideOpenButton {
        display: block;
    }
    .leftSlidePan .panelslideOpenButton {
        position: absolute;
        right: -25px;
        top: 30px;
        background-color: #fff;
        height: 50px;
        width: 25px;
        border-radius: 0 25px 25px 0;
        box-sizing: border-box;
        padding-left: 5px;
        line-height: 48px;
        box-shadow: 1px 1px 5px #ccc;
        z-index: 99;
    }
    .rightSlidePan .panelslideOpenButton {
        position: absolute;
        left: -25px;
        top: 30px;
        background-color: #fff;
        height: 50px;
        width: 25px;
        border-radius: 0 25px 25px 0;
        box-sizing: border-box;
        padding-left: 5px;
        line-height: 48px;
        box-shadow: 1px -1px 5px #ccc;
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
        z-index: 99;
    }
    .rightSlidePan .panelslideOpenButton.panelslideCloseButton {
        -moz-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        left: 0px;
    }
    .leftSlidePan .panelslideOpenButton.panelslideCloseButton {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
        right: 0px;
    }
    .innerBodyOnly {
        overflow: hidden;
    }
    .leftSlidePan.closePan {
        left: -100%;
        z-index: 1;
    }
    .rightSlidePan.closePan {
        right: -100%;
        z-index: 1;
    }
    .midPan {
        /* margin-left: 20px;
        margin-right: 20px; */
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: auto !important;
    }
    .leftSlidePan, .rightSlidePan {
        padding: 12px;
        box-sizing: border-box;
        width: 100% !important;
    }
    .leftSlidePan {
        padding-right: 0px;
    }
    .rightSlidePan, .leftSlidePan {
        /* padding-left: 15px; */
        padding-left: 0px;
        padding-right: 0px;
    }
    .innerLogo, .avtarName, .headerAvtar .innerLogoRight {
        display: none;
    }
    .innerHeaderIcon {
        /* position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 70px; */
    }
    .innerBodyHeader .headerAvtar, .headerAvtar {
        width: 100%;
    }
    .eventList .innerLogoRight {
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }
    .innerHeader .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .innerBodyOnly .container-fluid,
    .innerBodyOnly.homeBody {
        padding-left: 0px  !important;
        padding-right: 0px !important;
    }
    .leftSlidePan, .rightSlidePan {
        background: #f7f8f9 url(../img/innerBg.png) no-repeat center top;
    }
}

@media (max-width: 400px) {
    .innerHeader .container-fluid {
        /* padding-left: 0px;
        padding-right: 0px; */
    }
    .midPan {
        margin-left: 0px;
        margin-right: 0px;
    }
}



/* special style  */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 2px;
    background-color: #b8b8b8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #e6f6ff;
  }
  input:checked + .slider:before {
    background-color: #3b71b9;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /* special style  */

@media (min-width: 951px) and (max-width: 1249px) {
    .perEvent {
        /*margin: 26px 0.1% !important;*/
        margin: 26px 20px !important;
    }
    .midPan {
        width: 494px;
        margin:0 auto;
    }
    .leftSlidePan, .rightSlidePan {
      width: calc(50% - 227px) !important;
    }
}
@media (min-width: 1250px) {
    .midPan {
        width: 644px;
        margin:0 auto;
    }
    .leftSlidePan, .rightSlidePan {
      width: calc(50% - 322px) !important;
    }
    .perEvent {
        /*margin: 26px 1% !important;*/
        margin: 26px 32px !important;
    }
}