/**
* Template Name: Bethany - v2.2.0
* Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #444444
}

a {
  color: #f18f4d;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  -webkit-appearance: none;
    -moz-appearance: none;
    /* background: #fff url('../img/select-notch.png') right 3% center no-repeat !important; */
}
.form-control:-moz-focusring, .form-control,
.form-control:focus, .btn.focus, .btn:focus {
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
.nav-link {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
}
body#hidenScroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #92d054;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #b5ff6b;
  color: #fff;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 20px;
}

#header .header-container {
  background: #3b71b9;
  padding: 12px 0px;
  border-radius: 10px;
}

#header.header-scrolled {
  background: #3b71b9;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
}

#header .logo {
  overflow: hidden;
}

#header .logo h1 {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
}

.gensection {
  font-size: 30px;
  font-weight: 500;
  color: #5169fd;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #sidebar.sidebarMenu .custom-menu {
    display: none;
  }
}
@media (max-width: 992px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
  }
  #header .logo h1 {
    font-size: 24px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ff9751;
  text-decoration: none;
}

.nav-menu .get-started a {
    background: #ff9751;
    color: #383838;
    margin: 0 15px;
    padding: 10px 25px;
    font-weight: 700;
    margin-top: -41px;
    padding-top: 50px;
    transition: all 0.5s;
}

.header-scrolled .nav-menu .get-started a {
  background: #ff9751;
  color: #383838;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
  font-weight: 700;
}

.nav-menu .get-started a:hover {
  background: #f18f4d;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-weight: 500;
  text-transform: none;
  color: black;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #f18f4d;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.logo1 {
  position: absolute;
  top: -16px;
  left: 35px;
}
.logo2 {
  padding-left: 150px !important;
}
.headerRight {
  padding-right: 30px;
}
.headerRight a:first-child {
  margin-right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #5169fd;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  border-bottom: 1px solid #fff;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #f18f4d;
  text-decoration: none;
}

.mobile-nav .get-started {
  text-align: center;
  margin-top: 14px;
}

.mobile-nav .get-started a {
  background: #f18f4d;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
  display: inline-block;
}

.mobile-nav .get-started a:hover {
  background: #00c28e;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(29, 28, 31, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  min-height: 914px;
  background: url("../img/bannerbg.png") no-repeat right top;
  background-size: 104% auto;
  position: relative;
  align-items: normal !important;
}
.parallax-window {
  
}

/* #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#hero h1 {
  margin: 85px 0 10px 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  color: #3b71b9;
  z-index: 9;
}
#hero h1 span.bannerHeading2 {
  font-size: 50px;
}
#hero h1 span.bannerHeading3 {
  font-size: 60px;
}
.bannerImage {
  display: none;
}

.bannerText2 {
  color: #000;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  /* text-transform: capitalize; */
  line-height: 26px;
  margin-top: 20px;
}

.btn-get-started {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 26px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0px;
  background-color: #3b71b9;
  color: #fff;
}
.bannerBtn .btn-get-started:first-child {
  margin-right: 5px;
}
.bannerBtn .btn-get-started:last-child {
  background-color: #93cc66;
}
.bannerBtn {
  margin-top: 40px;
}
.abtBtn .btn-get-started {
  background-color: #3b71b9 !important;
  padding: 12px 53px;
  margin-top: 25px;
  margin-left: 25px;
}
.homeAboutText {
  font-size: 16px;
  color: #414141;
  font-weight: 500;
  line-height: 22px;
}
.homeAbout {
  /* 17-Nov-2022 */
  /*margin-top: 115px;*/
  padding-top: 115px;
  /* End 17-Nov-2022 */
}
/* #homeAbout {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -110px;
} */

.btn-get-started:hover {
  /* background: #290907; */
  /* border: 2px solid #f18f4d; */
}
.validate {
  font-size: 12px;
  color: red;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #f18f4d;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
#clients {
  background: #5169fd;
  text-align: center;
  border-bottom: 1px solid #6f83fd;
}

/* .clients img {
  width: 40%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
} */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.servicesTab {
  display: flex;
}
.servicesTabText {
  font-family: 'Montserrat', sans-serif;
  align-self: center;
  background-color: #92d054;
  font-size: 16px;
  color: #fff;
  width: 100%;    
  padding: 7px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  font-weight: 500;
  text-transform: capitalize;
}
#services .icon-box {
  width: 100%;
  padding: 15px 0px;
}
.servicesTab img {
  width: 90px;
  height: 85px;
}
#services {
  padding-top: 15px;
}


/*--------------------------------------------------------------
# platform
--------------------------------------------------------------*/
#productLaunch {
  background: url(../img/virtual_product_lanuch_bg.jpg) no-repeat center top;
  background-size: 100% 100%;
}
#platform {
  /* background: url(../img/downloadBg.png) no-repeat right bottom 50px;
  background-size: 54%; */
  padding-top: 70px;
  padding-bottom: 0px;
}
#platform .platformOnly {
  border-bottom: 3px solid #1a2237;
}
#platform .platformOnly .platformImg {
  margin-bottom: -1px;
}
.sqr {
  position: absolute;
  right: 0px;
  top: -110px;
}
.phBg {
  background: url(../img/phBg.png) no-repeat center;
  background-size: 80%;
}
#advantage {
  background: url(../img/advantage_bg.jpg) no-repeat center top;
  background-size: 100% 100%;
}
#faq {
  background-color: #5169fd;
}
#testimonials .testimonialsBg {
  background: url(../img/testimonials_bg.png) no-repeat center top;
  padding-bottom: 305px;
  background-size: 100% 100%;
}
.platform h2 {
  font-size: 50px;
  color: #3b71b9;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 48px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.platformBlood {
  display:inline;
  color:#420e0b;
}
.platform h2 span.white {
  display:block;
  color:#fff;
}
.platformFont2 {
  font-size: 64px;
  color: #93cc66;
}
.platformFont3 {
  font-size: 100px;
  color: #93cc66;
  line-height: 90px;
}
.platformFont4 {
  font-size: 56px;
  color: #3b71b9;
}
.platformSmallFont {
  font-size: 26px;
  font-weight: 500;
  color: #000;
}
.platform p {
  font-size: 27px;
  color: #626262;
  line-height: 40px;
}
#virtualUniq.platform p {
    display: flex;
    flex-direction: row;
    justify-content: start;
} 
#virtualUniq.platform p img {
  height: 46px;
    width: 46px;
    margin-right: 10px;
    margin-top: 10px;
}
#video.platform h2 {
  font-size: 40px;
  color: #000;
}
.vidImg {
  margin-left: -75px;
}
#video {
  margin-top: -105px;
}
.videoTitle2 {
  font-size: 45px;
  color: #3b71b9;
}
.downloadBackground {
  background: url(../img/downloadBg.png) no-repeat right -25% bottom 20%;
  background-size: 63.5%;
}

/* 17-Nov-2022 */
.downloadBackground {
  background: url(../img/downloadBg.png) no-repeat right -4% bottom 20%;
  background-size: 55%;
}
/* End 17-Nov-2022 */

.videoPresentationBtn {
  font-size: 18px;
  color: #404040;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}
.homeAboutTextVideo2 {
  font-size: 22px;
  color: #ec4626;
  font-weight: 600;
}
.videoblock {
  box-shadow: 0px 0px 15px #000;
  border: 2px solid #fff;
}
.faqtoop {
  background: url(../img/faq_top.jpg) no-repeat center bottom;
  height: 82px;
}
.accfaq {
  background-color: #5c73fd;
  border: 1px solid #a1aefd;
}
#faq h3 {
  font-weight: 700;
  font-size: 55px;
  color: #f18f4d;
  padding: 0px 0 60px 0;
}
.accfaq .panel {
  border-bottom: 1px solid #a1aefd;
}
#faq .panel-heading h4 {
  font-weight: 400;
  color:#c5d1ff;
  font-size: 27px;
  padding: 30px 0;
}
#faq .panel-heading h4 a {
  color:#c5d1ff;
  display: block;
}
#faq .panel-heading h4 i {
  float: right;
  font-size: 56px;
  line-height: 30px;
}
#faq .panel-heading h4 a i.fa-angle-up {
  display: block;
}
#faq .panel-heading h4 a i.fa-angle-down {
  display: none;
}
#faq .panel-heading h4 a.collapsed i.fa-angle-up {
  display: none;
}
#faq .panel-heading h4 a.collapsed i.fa-angle-down {
  display: block;
}
#faq .panel-body {
  font-weight: 400;
  color:#fff;
  font-size: 27px;
  padding-bottom: 40px;
}
.platformRow {
  align-items: center;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #f18f4d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(54, 52, 58, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #00cc95;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonialsHeading {
  font-size: 36px !important;
  padding-top: 80px !important;
}
/* .testimonials .testimonial-item {
  margin: 10px auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #6278fd;
  max-width: 792px;
  border-radius: 7px;
  overflow: hidden;
}

.testimonials .testimonial-item .testimonial-img {
  width: 57px;
  height: 43px;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #66ffd6;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  margin: 0 15px;
  font-size: 27px;
  color: #fff;
  font-weight: 400;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff !important;
}

.testimonials .owl-dot.active {
  background-color: #5067f9 !important;
} */
.modal-header {
  background-color: #5169fd;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer .footerBottom {
  background: #0b4085;
  padding: 35px 0px;
}
.copyblink {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color:#fff;
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 400;
}
.copyblink a {
  color:#fff;
}
.copyblink a:hover {
  text-decoration: underline;
}
.googleMap {
  height: 100%;
  width: 100%;
}
#footer {
  overflow-x: hidden;
}
.footerDetails {
  background: url('../img/footerBg.jpg') no-repeat center;
  background-size: cover;
  padding: 70px 0px;
}
.footerCol {
  padding: 0px;
}
.footerRow {
  margin: 0px;
}
.footerDetailsHeading {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.footerDetailsAddress {
  background: url('../img/footerDetailsAddressIcon.png') no-repeat left center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-left: 45px;
}
.footerDetailsText {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 45px;
}
.footerDetailsPh {
  background: url('../img/footerDetailsPhIcon.png') no-repeat left center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footerDetailsEmail {
  background: url('../img/footerDetailsEmailIcon.png') no-repeat left center;
}
.socialLink {
  margin-top: 30px;
}
.socialLink li {
  margin-right: 10px;
}
.footerMenu li a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footerMenu li {
  margin-bottom: 15px;
}
.footerMenu li:last-child {
  margin-bottom: 0px;
}
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  .copyblink {
    display: block;
  }
}

.servicesHeading {
  font-size: 32px;
  color: #a1221b;
  font-weight: 600;
}
.servicesHeading span {
  font-weight: 900;
}
#youthDonor .servicesHeading {
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
}
.youthDonorText {
  text-align: center;
  color: #000;
  font-size: 16px;
  margin: 12px 0px 15px;
}
.youthDonorBtn {
  text-align: center;
}
.youthDonorBtn .btn-get-started {
  color: #fff;
  background-color: #a1221b;
}
.youthDonorBtn .btn-get-started:hover {
  background-color: #871d17;
}
.appStoreAll {
  text-align: center;
  margin-top: 50px;
}
.appStoreAll li {
  margin: 0px 15px;
}
.downloadSectionRow {
  align-items: center;
}
#downloadSection {
  padding-top: 65px;
}
.testimonialAvtarAddress {
  font-size: 18px;
  color: #3b71b9;
  margin-top: 25px;
  margin-bottom: 5px;
}
.testimonialAvtarPlace {
  font-size: 14px;
  color: #414141;
}
.testimonialAvtar {
  margin-top: 10px;
  margin-bottom: 35px;
}
.testimonialAvtar img {
  width: 120px;
  height: 120px;
  border: 6px solid #3b71b9;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  margin: 0px auto;
}
.testimonialSlider .homeAboutText {
  text-align: center;
  color: #000;
}
.testimonialSlider li {
  background-color: #eafbfb;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         5px 5px 7px 0px rgba(0, 0, 0, 0.2);
}
.testimonialAvtarBody {
  padding: 0px 20px 45px;
}
#testimonials {
  padding-top: 0px;
  margin-top: -50px;
  padding-bottom: 70px;
}
#testimonials .bx-wrapper {
  max-width: 100% !important;
  margin-top: 40px;
}
#testimonials .bx-wrapper .bx-viewport {
  padding-bottom: 10px;
}
#testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 2px solid #191718;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px 4px;
}
#testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#testimonials .bx-wrapper .bx-pager.bx-default-pager a.active, 
#testimonials .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #191718;
}
#testimonials .bx-wrapper .bx-pager {
  bottom: -55px;
}
#contactUs.platform h2 {
  font-size: 60px;
}
.contactFormTitle {
  font-style: italic;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}
.contactForm form .form-control {
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0px;
  margin-top: 5px;
  height: 48px;
}
.contactForm form .form-control::placeholder {
  font-style: italic;
  font-size: 15px;
  color: #717070;
}
.contactForm form .abtBtn .btn-get-started {
  margin: 0px;
  margin-top: 8px;
}
.subscribeTitle {
  font-weight: 600;
  font-size: 36px;
  color: #3b71b9;
}
.subscribeForm .form-control {
  height: 58px;
  border-radius: 50px 0px 0px 50px;
  border: 0px;
  padding: 10px 30px;
}
.btn-subscribe {
  background-color: #fff;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 25px 10px 10px;
}
.subscribeForm .form-control::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #717070;
}
.subscribeForm .form-group {
  margin-bottom: 0px;
  position: relative;
}
.subscribeSection {
  padding-top: 100px;
}
#contactUs {
  background: url('../img/contactUsBg.png') no-repeat bottom center;
  background-size: 100% 100%;
}

#login {
  background-size: cover;
  padding-top: 80px;
  font-family: 'Mulish', sans-serif;
}
#content {
  width: 100%;
}
.loginBg {
  background: url('../img/loginBg.jpg') no-repeat center top;
}
#login.signUpBg {
  background: url('../img/signUpBg.jpg') no-repeat center top;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 155px;
}
.loginFormSection .form-control {
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 16px;
}
.loginFormSection .form-control::placeholder {
  color: #fff;
  font-size: 16px;
}
.loginText {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.loginForm {
  max-width: 370px;
  margin: 0px auto;
  text-align: center;
}
.loginText a {
  color: #3dd495;
}
.loginName .form-control, .loginPass .form-control {
  padding-left: 48px;
  height: 40px;
  padding-right: 34px;
}
/*.loginName .form-control {
  background: url('../img/loginNameIcon.png') no-repeat left 8px center;
}
.loginPass .form-control {
  background: url('../img/loginPassIcon.png') no-repeat left 8px center;
}*/
.loginPass {
  position: relative;
}
.passwordVisiable {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 10px;
  cursor: pointer;
  max-width: 30px;
}
.getOtp{
  height: 22px;
  margin-top: 0;
  position: relative;
  bottom: 32px;
  right: 0px;
  cursor: pointer;
  top: 50%;
}
.loginFormSection .form-group {
  margin-bottom: 20px;
}
.loginLogo {
  margin-bottom: 25px;
}
.btn-welcome {
  font-weight: 700;
  font-size: 18px;
  color: #3b71b9;
  background-color: #fff;
  border: 3px solid #3b99d9;
  border-radius: 50px;
  padding: 9.5px;
  margin-top: 34px;
}
.btn-welcome:hover {
  color: #fff;
  background-color: #3b71b9;
}
.loginForgot {
  margin-top: 6px;
}
.loginForgot a {
  font-size: 16px;
  color: #fff;
}
.loginForgot a:hover {
  text-decoration: underline;
}
.loginTextBelow {
  width: 555px;
  margin: 18px auto;
}
.loginWithText {
  margin: 15px 0px 10px;
}
.loginSocial li {
  margin: 0px 10px;
}
.loginClose {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 80px;
  margin-right: 55px;
}
.signUpHeading {
  font-weight: 800;
  font-size: 33px;
  color: #3b71b9;
  margin-bottom: 6px;
}
.signUpBg .loginForm {
  width: 750px;
}
.signUpForm input:focus ~ .floating-label,
.signUpForm input:not(:focus):valid ~ .floating-label{
  top: 7px;
  bottom: 10px;
  left: 14px;
  font-size: 13.2px;
  opacity: 1;
}
.signUpForm .inputText {
  font-size: 17.6px;
  height: 54px;
  padding: 20px 40px 5px 14px;
  font-weight: 600;
  color: #3b71b9;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
}
.signUpForm .floating-label {
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 13px;
  transition: 0.2s ease all;
  color: #b8b8b8;
  font-size: 17.5px;
}
.signUpForm {
  margin-top: 40px;
}
.signUpForm .form-group {
  margin-bottom: 20px;
  position: relative;
}
.signUpForm .passwordVisiable {
  right: 15px;
}
.btn-proceed {
  width: 360px;
  margin: 0px auto;
  background-color: #3b71b9;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}
.btn-proceed:hover {
  background-color: #315c97;
  color: #fff;
}
.signUpForm2Title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #3b71b9;
  padding: 7px 42px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 32px;
}
.signUpForm2 .form-control {
  height: 54px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding-left: 55px;
}
.signUpForm2 .form-control::placeholder {
  font-weight: 400;
  color: #b8b8b8;
  font-size: 16px;
}
.signUpForm2 .form-group {
  text-align-last: left;
  margin-bottom: 14px;
  position: relative;
}
.signUpForm2 .form-group label {
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  margin-bottom: 5px;
}
.formMail {
  background: #fff url('../img/formMail.png') no-repeat left 17px center;
}
.formPh {
  background: #fff url('../img/formPh.png') no-repeat left 17px center;
}
.signUpBg .loginForm.signUp2Form {
  width: 945px;
}
.signUp2Form .loginLogo {
  margin-bottom: -5px;
}
.selectIcon {
  position: absolute;
  top: 50%;
  margin-top: 12px;
  right: 23px;
}
.formCountry {
  background: #fff url('../img/formCountry.png') no-repeat left 17px center;
}
.formState {
  background: #fff url('../img/formState.png') no-repeat left 17px center;
}
.formCity {
  background: #fff url('../img/formCity.png') no-repeat left 17px center;
}
.formProvince {
  background: #fff url('../img/formProvince.png') no-repeat left 17px center;
}
.formAddress {
  background: #fff url('../img/formAddress.png') no-repeat left 17px center;
}
.formZip {
  background: #fff url('../img/formZip.png') no-repeat left 17px center;
}
.formMonth {
  background: #fff url('../img/formMonth.png') no-repeat left 17px center;
}
.birthdayDate {
  display: flex;
  justify-content: space-between;
}
.birthdayYear .form-control, .birthdayDay .form-control {
  padding-left: 20px;
}
.birthdayMonth {
  width: 40%;
}
.birthdayDay {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
}
.birthdayYear {
  width: 30%;
}
.birthdayDateTitle {
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  margin-bottom: 16px;
}
.addFieldItem {
  background-color: #daefff;
  /* display: flex; */
  width: max-content;
  /* width: 30%; */
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  padding: 12px 52px 12px 16px;
  border-radius: 30px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  text-align: left;
  position: relative;
}
.removeField img {
  position: absolute;
  right: 0;
  padding-left: 15px;
  cursor: pointer;
  margin-right: 12px;
  top: 50%;
  margin-top: -8px;
}
.signUpForm2 .input-group.lifeEvent {
  margin-top: 30px;
  margin-bottom: 5px;
  display: inline-flex;
}
.signUpForm2 .lifeEvent .form-control {
  padding-left: 20px;
  border-width: 2px;
  border-radius: 30px 0px 0px 30px;
  display: initial;
  padding-right: 40px;
}
.inputBellowText {
  font-weight: 400;
  color: #b8b8b8;
  font-size: 16px;
  margin-left: 20px;
  text-align: left;
}
.btn-add {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #3b71b9;
  padding: 10px 26px;
  border-radius: 0px 30px 0px 30px !important;
}
.btn-add:hover {
  background-color: #32609d;
  color: #fff;
}
.signUpForm2 .input-group.lifeEvent .input-group-append {
  margin-left: -30px;
  z-index: 9;
}
#login.signUpBg.signUpBg2 {
  padding-bottom: 30px;
}
#login.signUpBg.sliderBody {
  padding: 0px;
}
.menuLogo {
  position: relative;
  z-index: 9;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #88c9f9;
}
#sidebar, #sidebar .custom-menu .btn.btn-primary:after {
  background: #3b71b9 !important;
}
#sidebar.sidebarMenu {
  min-width: 300px;
  max-width: 300px;
}
#sidebar.sidebarMenu.active {
  margin-left: -300px;
}
#sidebar ul.components li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16.45px;
  color: #88c9f9;
  border-bottom: 0px;
  padding: 13px 0px;
}
#sidebar ul.components li.active > a {
  background: url(../img/activeMenu.png) no-repeat right center;
}
#sidebar ul.components li.active > a, #sidebar ul.components li a:hover {
  color: #f2f2f2;
}
#sidebar ul.components li a img {
  margin-right: 10px;
}
#sidebar ul.components {
  margin-top: 55px;
  padding-left: 40px !important;
  padding-right: 20px !important;
}
.mainHeaderRight {
    background-color: #3b99d9;
    position: relative;
}
.headerLogoAvtar {
    padding: 22px 0px;
    display: flex;
}
.headerAvtar {
    margin-left: auto;
    /*width: 160px;*/
}
.headerAvtarDetail {
    cursor: pointer;
    display: flex;
}
.avtarName {
    color: #000;
    font-size: 12px;
    align-self: center;
    margin-right: 12px;
    text-align: right;
    line-height: 14px;
    font-weight: 600;
}
.avtarName span {
    font-size: 12px;
    color: #b8b8b8;
    font-weight: 600;
}
.avtarImg {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #bbb;
}
.avtarImg img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.headerLogo {
  font-weight: 800;
  font-size: 28px;
  color: #fff;
}
.mainHeaderRight .container-fluid {
  padding-right: 45px;
  padding-left: 65px;
}
.lifeEvents {
  width: 847px;
  margin: 0px auto;
}
.searchEvents .input-group .form-control {
  height: 42px !important;
  border-radius: 30px 0px 0px 30px;
  margin-right: -20px;
  font-size: 20px;
  font-weight: 400;
  width: 560px;
  padding: 5px 75px 5px 25px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.searchEvents .input-group {
  position: relative;
  margin-top: 24px;
}
.searchEvents .input-group .form-control::placeholder {
  color: #b8b8b8;
}
.btn-eventSearch {
  padding: 0px !important;
  margin-top: -5px;
}
.input-group-append {
  z-index: 9;
}
.shortEvents {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: 69px;
    margin-top: -7px;
    cursor: pointer;
    z-index: 9;
}
.lifeEventsTitle {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #3b71b9;
  margin-top: 20px;
  margin-bottom: 10px;
}
.allLifeEvents .icon-box {
  width: 100%;
  position: relative;
  padding: 15px 0px;
}
.allLifeEvents .icon-box .servicesTab img {
  width: 98px;
  height: 94px;
}
.msgCount {
  position: absolute;
  background-color: #3b71b9;
  width: 33px;
  height: 33px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 50%;
  border: 3px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  margin-left: 80px;
  margin-top: -2px;
}
.addLifeEvents {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 65px;
}
.addLifeEvents img {
  cursor: pointer;
}

/*--------------------------------------------------------------
# inner Body
--------------------------------------------------------------*/
.innerHeader .container-fluid {
  padding-left: 45px;
  padding-right: 45px;
}
.innerBodyOnly .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}
.innerBodyHeader {
  display: flex;
  align-items: center;
}
.innerBodyHeader .searchEvents .input-group {
  margin-top: 0px;
}
.innerBodyHeader .headerAvtar {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.innerBodyHeader .avtarImg, .innerBodyHeader .avtarImg img {
  width: 30px;
  height: 30px;
}
.searchEvents .input-group-append {
  margin-top: 3px;
}
.innerHeader {
  background-color: #f2f2f2;
  padding: 12px 0px;
  margin-bottom: 20px;
}
#login.signUpBg.innerBg {
  background: #f7f8f9 url(../img/innerBg.png) no-repeat center top;
  padding: 0px;
}
.innerHeaderIcon li {
  margin: 0px 10px;
}
.innerHeaderIcon  {
  margin-left: 8px;
}
.connectionsBody {
  background-color: #f7f8f9;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  -moz-box-shadow:    0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  box-shadow:         0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  border-radius: 12px;
}
.alphabaticallyConnections {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #3b71b9;
  width: 40px;
    height: 40px;
    background-color: #c3e4fc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connectionsLeft {
  background-color: #fff;
  border-radius: 12px 0px 0px 12px;
  padding: 14px 0px 15px;
  /* overflow-y: auto; */
}

.windowHeight {
  overflow-y: auto;
  overflow-x: hidden;
}
.alphabaticallyCount {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #91d639;
  height: 26px;
  width: 44px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
    align-items: center;
    margin-left: auto;
}
.alphabaticallyDetails {
  display: flex;
  align-items: center;
  padding: 14px 46px 14px 30px;
}
.alphabaticallyDetails-A {
  margin-bottom: -10px;
}
.connectionsLeft .connectionsTab.nav-tabs {
  display: block;
  border: none;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link.active, 
.connectionsLeft .connectionsTab.nav-tabs .nav-item.show .nav-link,
.connectionsLeft .connectionsTab.nav-tabs .nav-item,
.connectionsLeft .connectionsTab.nav-tabs .nav-link,
.connectionsLeft .connectionsTab.nav-tabs .nav-link:hover, 
.connectionsLeft .connectionsTab.nav-tabs .nav-link:focus,
.bankcardTab .nav-tabs,
.bankcardTab .nav-tabs .nav-link.active, 
.bankcardTab .nav-tabs .nav-item.show .nav-link,
.bankcardTab .nav-tabs .nav-item,
.bankcardTab .nav-tabs .nav-link,
.bankcardTab .nav-tabs .nav-link:hover, 
.bankcardTab .nav-tabs .nav-link:focus
 {
  border: none;
  border-radius: 0px;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link {
  padding: 10px 48px 15px 22px;
  margin-top: 10px;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link.active {
  background-color: #f7f8f9;
}
.connectionsAvtarImg {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #bbb;
}
.connectionsAvtarImg img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.connectionsAvtarName {
  font-weight: 700;
  font-size: 16px;
  color: #3b71b9;
  line-height: 16px;
}
.connectionsAvtarId {
  font-size: 14px;
  color: #91d639;
  line-height: 17px;
}
.connectionsTabDetails, 
.connectionsAvtarInfo,
.connectionsAllDetailsTop {
  display: flex;
  align-items: center;
}
.connectionsAvtarInfo {
  margin-left: auto;
}
.connectionsAvtarDetails {
  padding: 0px 16px;
}
.connectionsAvtarInfoCount {
  font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #91d639;
    height: 26px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.connectionsMsg {
  margin: 0px 15px 0px 12px;
}
.connectionsDetailsAvtarImg {
  position: relative;
  height: 126px;
    width: 126px;
    border-radius: 50%;
    background-color: #bbb;
    margin-right: 30px;
}
.connectionsDetailsAvtarImg img {
  height: 126px;
    width: 126px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.connectionsDetailsInfoName {
  font-weight: 700;
  color: #3b71b9;
  font-size: 20px;
  line-height: 25px;
}
.connectionsDetailsInfoEvents span {
  font-weight: 700;
  font-size: 16px;
  color: #b8b8b8;
}
.eventsNumbers {
  color: #3b71b9 !important;  
}
.eventsText {
  margin-right: 10px;
}
.connectionsDetailsInfoId, .connectionsDetailsPlace {
  font-weight: 600;
  color: #b8b8b8;
  padding-left: 25px;
}
.connectionsDetailsInfoId {
  font-size: 16px;
  background: url(../img/connectionsDetailsInfoId.png) no-repeat left center;
  line-height: 20px;
}
.connectionsDetailsPlace {
  font-size: 14px;
  background: url(../img/connectionsDetailsPlace.png) no-repeat left center;
}
.btn-following {
  font-weight: 700;
  font-size: 12px;
  color: #3b71b9;
  border: 1px solid #3b71b9;
  width: 165px;
  padding: 5px;
  margin-right: 12px;
  margin-top: 8px;
}
.btn-following:hover {
  background-color: #fff;
  color: #3b71b9;
}
.btn-message, .btn-Edit.btn-save {
  background-color: #3b71b9;
  color: #fff;
}
.btn-message:hover, .btn-Edit.btn-save:hover {
  background-color: #3161a1;
  color: #fff;
}
.connectionsRight  {
  padding: 55px 30px 15px;
  /* overflow-y: auto; */
}
.connectionsDetailsTitle, .connectionsDetailsTitle2 {
  font-weight: 700;
  color: #3b71b9;
}
.connectionsDetailsTitle {
  font-size: 20px;
}
.connectionsDetailsTitle2 {
  font-size: 16px;
  margin-top: 7px;
}
.connectionsAllDetailsBody {
  padding: 30px;
}
.connectionsWhatscommonUl {
  margin-bottom: 6px;
}
.connectionsWhatscommonUl .connectionsWhatscommonLi {
  font-weight: 600;
  color: #91d639;
  font-size: 16px;
  background: url(../img/connectionsWhatscommonUl.png) no-repeat left top 12px;
  padding-left: 20px;
  margin-top: -4px;
}
.connectionsWhatscommonUl2 .connectionsWhatscommonLi {
  color: #3b71b9;
  background: none;
  padding-left: 0px;
}
.connectionsDetailsBtn {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #fff !important;
  background-color: #3b71b9 !important;
  padding: 1px 18px !important;
  border-radius: 30px !important;
  margin-right: 8px;
  margin-top: 12px;
}
.connectionsDetailsBtn:hover {
  background-color: #3161a1 !important;
}
.settingLeftTitle {
  font-weight: 700;
  font-size: 26px;
  color: #3b71b9;
  padding-bottom: 12px;
}
.settingBody {
  margin-top: 48px;
}
.settingMenu .settingMenuLi .settingMenu {
  font-weight: 700;
  font-size: 20px;
  color: #b8b8b8;
  display: flex;
  align-items: center;
}
.settingMenu {
  padding-left: 30px;
}
.settingMenuActive {
  color: #3b71b9 !important;
}
.menuIcon {
  margin-right: 20px;
}
.settingMenuLi {
  padding: 18px 0px;
}
/* .settingBodyLeft {
  overflow-y: auto;
} */
.connectionsBody.settingBodyRight {
  background-color: #fff;
  margin-left: 30px;
  padding: 30px 25px 0px 65px;
}
.profileTop .connectionsDetailsAvtarImg {
  height: 130px;
  width: 130px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 35px;
}
.profileTop .connectionsDetailsAvtarImg img {
  height: 130px;
  width: 130px;
}
.profileTop .connectionsDetailsInfoName {
  font-size: 26px;
  line-height: 18px;
}
.profileTop .connectionsDetailsInfoEvents span {
  font-weight: 600;
  font-size: 26px;
}
.uploadImg {
  width: auto !important;
  height: auto !important;
  position: absolute;
  bottom: -15px;
  right: 0px;
}
.profileTop {
  padding: 0px 20px;
}
.profileForm label, .profileForm .form-control::placeholder, .profileForm .form-control {
  font-weight: 600;
  font-size: 16px;
  color: #b8b8b8;
}
.profileForm label {
  margin-left: 6px;
  margin-bottom: 0px;
}
.profileForm .form-control {
  border: 1px solid #b8b8b8 !important;
  height: 46px !important;
  border-radius: 6px;
  text-align: center;
  color: #000;
}
.profileForm .form-group {
  margin-top: 5px;
}
.profileForm {
  margin-top: 32px;
}
.btn-Edit {
  background-color: #f2f2f2;
width: 118px;
height: 36px;
padding: 5px;
font-weight: 600;
font-size: 20px;
color: #b8b8b8;
line-height: 0px;
border-radius: 5px;
}
.btn-Edit:hover {
  background-color: #e5e5e5;
color: #b8b8b8;
}
.btn-Edit-save {
  text-align: center;
  margin: 24px 0px 40px;
}
.bankDetailsTitle {
  font-weight: 700;
  text-align: center;
  font-size: 26px;
  color: #3b71b9;
}
.bankDetailsTitle2 {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #b8b8b8;
  margin-top: -6px;
}
.connectionsBody.bankDetails {
    background-color: #fff;
    margin-left: 30px;
    padding: 26px 105px 0px;
}
.tabCard {
  text-align: center;
}
.tabCardTitle {
  font-weight: 700;
  font-size: 10px;
  color: #8c8a8a;
  text-align: center;
  margin-top: 3px;
}
.bankcardTab .nav-item .nav-link,
.bankcardTab .nav-item .nav-link.active,
.bankcardTab .nav-item .nav-link:hover,
.bankcardTab .nav-item .nav-link:focus {
  width: 125px;
  height: 80px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
-moz-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
}
.bankcardTab .nav.nav-tabs {
  justify-content: space-between;
}
.bankcardTab .nav-item .nav-link.active {
  border: 4px solid #3b71b9;
}
.bankcardTab {
  margin-top: 32px;
}
.profileForm.bankForm .form-control {
  background-color: #f7f8f9;
}
.profileForm.bankForm .btn-Edit {
  font-size: 16px;
  margin: 0px 7px;
}
.profileForm.bankForm .btn-Edit-save {
  margin-bottom: 75px;
}
.profileForm.bankForm {
  margin-top: 23px;
}

/*--------------------------------------------------------------
# inner Body
--------------------------------------------------------------*/



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1024px) {
  #hero {
    background: none;
  }
  .bannerImage {
    display: block;
  }
  .bannerImage img {
    width: 480px;
    max-width: none;
    margin-left: -70px;
  }
  #hero .heroCol {
    z-index: 9;
  }
}

@media (max-width: 768px) {
  #hero {
    min-height: 100vh;
  }
  #hero .container {
    /* padding-top: 60px; */
  }
  #hero h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 0px;
  }
}

@media (max-width: 1199px) {
  #hero h1, .platformFont2 {
    font-size: 60px;
    line-height: 42px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 44px;
  }
  #hero h1 span.bannerHeading3, .platformFont4, #contactUs.platform h2 {
    font-size: 52px;
    line-height: 46px;
  }
  .bannerText2 {
    font-size: 19px;
  }
  .btn-get-started {
    font-size: 22px;
  }
  .platform h2 {
    font-size: 46px;
    line-height: 40px;
  }
  .platformFont3 {
    font-size: 85px;
    line-height: 76px;
  }
  #testimonials .bx-wrapper {
    max-width: 755px !important;
    margin-left: auto;
    margin-right: auto;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 34px;
    line-height: 40px;
  }
  .videoTitle2 {
    font-size: 38px;
  }
  .homeAboutTextVideo2 {
    font-size: 20px;
  }
  .footerDetailsAddress {
    font-size: 14px;
  }
  .footerDetailsText {
    font-size: 15px;
  }
  .footerDetailsEmail {
    padding-bottom: 4px;
  }
}
@media (max-width:991px) {
  #hero h1 {
    margin-top: 50px;
  }
  #hero {
    min-height: 714px;
  }
  #hero h1, .platformFont2 {
    font-size: 48px;
    line-height: 34px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 32px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 40px;
    line-height: 32px;
  }
  .platformFont4 {
    font-size: 48px;
  }
  #contactUs.platform h2 {
    line-height: 44px;
  }
  .bannerText2 {
    font-size: 14px;
    line-height: 20px;
  }
  .btn-get-started {
    font-size: 18px;
    width: 235px;
    text-align: center;
  }
  /* #homeAbout {
    padding-top: 60px;
  } */
  .abtBtn .btn-get-started {
    margin-top: 10px;
  }
  #platform .platformOnly .platformImg {
    border-bottom: 3px solid #1a2237;
    width: 100%;
  }
  .platform .platformOnly .platformRow h2 {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  #testimonials .bx-wrapper {
    max-width: 370px !important;
  }
  .subscribeForm {
    margin-top: 30px;
  }
  .googleMap {
    height: 400px;
  }
  .footerDetailCol, .footerMenuCol {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .footerMenuCol {
    margin-top: 60px;
  }
  .footerBottom .copyblink .copyright, .footerBottom .copyblink .bottomlink {
    text-align: center;
  }
  #testimonials {
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .contactForm {
    margin-top: 30px;
  }
  .bannerImage img {
    width: 435px;
    margin-left: -105px;
  }
  #sidebar.sidebarMenu {
    min-width: 300px;
    max-width: 300px;
  }
  #sidebar.sidebarMenu {
    margin-left: -300px;
  }
  #sidebar.sidebarMenu.active {
    margin-left: 0px;
  }

  /* 17-Nov-2022 */
  .downloadBackground {
      background: none;
  }
  /* End 17-Nov-2022 */
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
  .btn-get-started {
    font-size: 12px;
  }
  #hero h1, .platformFont2 {
    font-size: 35px;
    line-height: 26px;
  }
  #hero h1 {
    margin-top: 0px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 24px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 28px;
    line-height: 20px;
  }
  .platformFont4 {
    font-size: 40px;
  }
  .platformFont3 {
    font-size: 75px;
    line-height: 60px;
  }
  .homeAboutText {
    font-size: 14px;
    line-height: 20px;
  }
  .logo2 {
    padding-left: 114px !important;
    width: 235px;
  }
  .logo1 {
    width: 95px;
  }
  .headerRight img {
    width: 32px;
  }
  .headerRight a:first-child {
    margin-right: 5px;
  }
  .bannerText2 {
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .bannerBtn {
    margin-top: 10px;
  }
  .btn-get-started img {
    width: 16px;
  }
  .btn-get-started {
    padding: 10px 16px !important;
    width: 160px;
    text-align: center;
    margin: 5px 0px;
  }
  #hero {
    min-height: 515px;
  }
  .platformSmallFont {
    font-size: 24px;
  }
  .platform h2 {
    font-size: 38px;
    line-height: 32px;
  }
  .servicesTab img {
    width: 80px;
    height: 75px;
  }
  .sqr {
    top: -80px;
  }
  .sqr img {
    width: 80px;
  }
  #testimonials {
    margin: 0px;
  }
  .footerDetailCol, .footerMenuCol {
    max-width: 540px;
  }
  .copyblink {
    font-size: 14px;
  }
  .bannerImage img {
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }
  .bannerImage {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  #hero .platformRow {
    flex-direction: column-reverse;
  }
}

@media (max-width:575px) {
  .bannerText2 {
    /* width: 300px; */
  }
  #hero {
    min-height: 470px;
  }
  .footerDetailCol, .footerMenuCol {
    max-width: 94%;
  }
  .videoTitle2 {
    font-size: 32px;
  }
  #contactUs.platform h2 {
    line-height: 40px;
  }
  .vidImg {
    margin-left: -25px;
  }
}

@media (max-width:489px) {
  #hero {
    min-height: 456px;
  }
  .appStoreAll li img {
    width: 158px;
  }
}

@media(max-width:413px) {
  .logo1 {
    width: 70px;
  }
  .logo2 {
    padding-left: 90px !important;
    width: 185px;
  }
  .headerRight {
    margin-top: -4px;
  }
  .headerRight img {
    width: 20px;
  }
  .headerRight a:first-child {
    margin-right: 0px;
  }
  #header .header-container {
    padding: 8px 0px;
  }
  #hero h1, .platformFont2 {
    font-size: 28px;
    line-height: 22px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 22px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 26px;
    line-height: 18px;
  }
  .platformSmallFont {
    font-size: 20px;
  }
  .platform h2 {
    font-size: 30px;
    line-height: 28px;
  }
  .platformFont4 {
    font-size: 34px;
    line-height: 36px;
  }
  .platformFont3 {
    font-size: 65px;
    line-height: 56px;
  }
  .appStoreAll li {
    margin: 0px 5px;
  }
  .appStoreAll li img {
    width: 130px;
  }
  .vidImg {
    margin-left: -20px;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 28px;
    line-height: 34px;
  }
  .videoTitle2 {
    font-size: 30px;
  }
  .homeAboutTextVideo2, .videoPresentationBtn {
    font-size: 16px;
  }
  .videoPresentationBtn img {
    width: 75px;
  }
  .videoTitle2 {
    font-size: 26px;
  }
  #contactUs.platform h2 {
    line-height: 32px;
    font-size: 40px;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 25px;
    line-height: 30px;
  }
  .subscribeForm .form-control {
    padding: 10px 5px 10px 30px;
  }
  .subscribeForm .form-control::placeholder {
    font-size: 12px;
  }
  .copyblink {
    font-size: 13px;
  }
  .bannerText2 {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (min-width: 1500px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -50px;
    background-size: 100% auto;
  }
}
@media (min-width: 1651px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -65px;
    background-size: 100% auto;
  }
  .homeAbout {
    /* 17-Nov-2022 */
    /*margin-top: 200px;*/
    padding-top: 200px;
    /* End 17-Nov-2022 */
  }
}
@media (min-width: 1801px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -80px;
    background-size: 100% auto;
  }
  .homeAbout {
    /* 17-Nov-2022 */
    /*margin-top: 250px;*/
    padding-top: 250px;
    /* End 17-Nov-2022 */
  }
}

/* 17-Nov-2022 */
.testimonialSlider {
    display: flex;
}
/* End 17-Nov-2022 */