/**
* Template Name: Bethany - v2.2.0
* Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #444444
}

a {
  color: #f18f4d;
  outline: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  -webkit-appearance: none;
    -moz-appearance: none;
    /* background: #fff url('../img/select-notch.png') right 3% center no-repeat !important; */
    cursor: pointer;
}
.form-control:-moz-focusring, .form-control,
.form-control:focus, .btn.focus, .btn:focus {
  box-shadow: none;
  text-shadow: none;
  outline: none;
}
.nav-link {
  outline: none;
}
.form-control:focus {
  box-shadow: none;
}
body#hidenScroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #92d054;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #b5ff6b;
  color: #fff;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 20px;
}

#header .header-container {
  background: #3b71b9;
  padding: 12px 0px;
  border-radius: 10px;
}

#header.header-scrolled {
  background: #3b71b9;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0;
}

#header .logo {
  overflow: hidden;
}

#header .logo h1 {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
}

.gensection {
  font-size: 30px;
  font-weight: 500;
  color: #5169fd;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #sidebar.sidebarMenu .custom-menu {
    display: none;
  }
}
@media (max-width: 992px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
  }
  #header .logo h1 {
    font-size: 24px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ff9751;
  text-decoration: none;
}

.nav-menu .get-started a {
    background: #ff9751;
    color: #383838;
    margin: 0 15px;
    padding: 10px 25px;
    font-weight: 700;
    margin-top: -41px;
    padding-top: 50px;
    transition: all 0.5s;
}

.header-scrolled .nav-menu .get-started a {
  background: #ff9751;
  color: #383838;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
  font-weight: 700;
}

.nav-menu .get-started a:hover {
  background: #f18f4d;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-weight: 500;
  text-transform: none;
  color: black;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #f18f4d;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.logo1 {
  position: absolute;
  top: -16px;
  left: 35px;
}
.logo2 {
  padding-left: 150px !important;
}
.headerRight {
  padding-right: 30px;
}
.headerRight a:first-child {
  margin-right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #5169fd;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  border-bottom: 1px solid #fff;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #f18f4d;
  text-decoration: none;
}

.mobile-nav .get-started {
  text-align: center;
  margin-top: 14px;
}

.mobile-nav .get-started a {
  background: #f18f4d;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
  display: inline-block;
}

.mobile-nav .get-started a:hover {
  background: #00c28e;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(29, 28, 31, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  min-height: 914px;
  background: url("../img/bannerbg.png") no-repeat right top;
  background-size: 104% auto;
  position: relative;
  align-items: normal !important;
}
.parallax-window {

}

/* #hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
} */

#hero h1 {
  margin: 85px 0 10px 0;
  font-size: 64px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  color: #3b71b9;
  z-index: 9;
}
#hero h1 span.bannerHeading2 {
  font-size: 50px;
}
#hero h1 span.bannerHeading3 {
  font-size: 60px;
}
.bannerImage {
  display: none;
}

.bannerText2 {
  color: #000;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  /* text-transform: capitalize; */
  line-height: 26px;
  margin-top: 20px;
}

.btn-get-started {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 26px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0px;
  background-color: #3b71b9;
  color: #fff;
}
.bannerBtn .btn-get-started:first-child {
  margin-right: 5px;
}
.bannerBtn .btn-get-started:last-child {
  background-color: #93cc66;
}
.bannerBtn {
  margin-top: 40px;
}
.abtBtn .btn-get-started {
  background-color: #3b71b9 !important;
  padding: 12px 53px;
  margin-top: 25px;
  margin-left: 25px;
}
.homeAboutText {
  font-size: 16px;
  color: #414141;
  font-weight: 500;
  line-height: 22px;
}
.homeAbout {
  margin-top: 115px;
}
/* #homeAbout {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -110px;
} */

.btn-get-started:hover {
  /* background: #290907; */
  /* border: 2px solid #f18f4d; */
}
.validate {
  font-size: 12px;
  color: red;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #f18f4d;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
#clients {
  background: #5169fd;
  text-align: center;
  border-bottom: 1px solid #6f83fd;
}

/* .clients img {
  width: 40%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.1);
} */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.servicesTab {
  display: flex;
}
.servicesTabText {
  font-family: 'Montserrat', sans-serif;
  align-self: center;
  background-color: #92d054;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 7px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  font-weight: 500;
  text-transform: capitalize;
}
#services .icon-box {
  width: 100%;
  padding: 15px 0px;
}
.servicesTab img {
  width: 90px;
  height: 85px;
}
#services {
  padding-top: 15px;
}


/*--------------------------------------------------------------
# platform
--------------------------------------------------------------*/
#productLaunch {
  background: url(../img/virtual_product_lanuch_bg.jpg) no-repeat center top;
  background-size: 100% 100%;
}
#platform {
  /* background: url(../img/downloadBg.png) no-repeat right bottom 50px;
  background-size: 54%; */
  padding-top: 70px;
  padding-bottom: 0px;
}
#platform .platformOnly {
  border-bottom: 3px solid #1a2237;
}
#platform .platformOnly .platformImg {
  margin-bottom: -1px;
}
.sqr {
  position: absolute;
  right: 0px;
  top: -110px;
}
.phBg {
  background: url(../img/phBg.png) no-repeat center;
  background-size: 80%;
}
#advantage {
  background: url(../img/advantage_bg.jpg) no-repeat center top;
  background-size: 100% 100%;
}
#faq {
  background-color: #5169fd;
}
#testimonials .testimonialsBg {
  background: url(../img/testimonials_bg.png) no-repeat center top;
  padding-bottom: 305px;
  background-size: 100% 100%;
}
.platform h2 {
  font-size: 50px;
  color: #3b71b9;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 48px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.platformBlood {
  display:inline;
  color:#420e0b;
}
.platform h2 span.white {
  display:block;
  color:#fff;
}
.platformFont2 {
  font-size: 64px;
  color: #93cc66;
}
.platformFont3 {
  font-size: 100px;
  color: #93cc66;
  line-height: 90px;
}
.platformFont4 {
  font-size: 56px;
  color: #3b71b9;
}
.platformSmallFont {
  font-size: 26px;
  font-weight: 500;
  color: #000;
}
.platform p {
  font-size: 27px;
  color: #626262;
  line-height: 40px;
}
#virtualUniq.platform p {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#virtualUniq.platform p img {
  height: 46px;
    width: 46px;
    margin-right: 10px;
    margin-top: 10px;
}
#video.platform h2 {
  font-size: 40px;
  color: #000;
}
.vidImg {
  margin-left: -75px;
}
#video {
  margin-top: -105px;
}
.videoTitle2 {
  font-size: 45px;
  color: #3b71b9;
}
.downloadBackground {
  background: url(../img/downloadBg.png) no-repeat right -25% bottom 20%;
  background-size: 63.5%;
}
.videoPresentationBtn {
  font-size: 18px;
  color: #404040;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}
.homeAboutTextVideo2 {
  font-size: 22px;
  color: #ec4626;
  font-weight: 600;
}
.videoblock {
  box-shadow: 0px 0px 15px #000;
  border: 2px solid #fff;
}
.faqtoop {
  background: url(../img/faq_top.jpg) no-repeat center bottom;
  height: 82px;
}
.accfaq {
  background-color: #5c73fd;
  border: 1px solid #a1aefd;
}
#faq h3 {
  font-weight: 700;
  font-size: 55px;
  color: #f18f4d;
  padding: 0px 0 60px 0;
}
.accfaq .panel {
  border-bottom: 1px solid #a1aefd;
}
#faq .panel-heading h4 {
  font-weight: 400;
  color:#c5d1ff;
  font-size: 27px;
  padding: 30px 0;
}
#faq .panel-heading h4 a {
  color:#c5d1ff;
  display: block;
}
#faq .panel-heading h4 i {
  float: right;
  font-size: 56px;
  line-height: 30px;
}
#faq .panel-heading h4 a i.fa-angle-up {
  display: block;
}
#faq .panel-heading h4 a i.fa-angle-down {
  display: none;
}
#faq .panel-heading h4 a.collapsed i.fa-angle-up {
  display: none;
}
#faq .panel-heading h4 a.collapsed i.fa-angle-down {
  display: block;
}
#faq .panel-body {
  font-weight: 400;
  color:#fff;
  font-size: 27px;
  padding-bottom: 40px;
}
.platformRow {
  align-items: center;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #f18f4d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(54, 52, 58, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #00cc95;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonialsHeading {
  font-size: 36px !important;
  padding-top: 80px !important;
}
/* .testimonials .testimonial-item {
  margin: 10px auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #6278fd;
  max-width: 792px;
  border-radius: 7px;
  overflow: hidden;
}

.testimonials .testimonial-item .testimonial-img {
  width: 57px;
  height: 43px;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #66ffd6;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  margin: 0 15px;
  font-size: 27px;
  color: #fff;
  font-weight: 400;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff !important;
}

.testimonials .owl-dot.active {
  background-color: #5067f9 !important;
} */
.modal-header {
  background-color: #5169fd;
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer .footerBottom {
  background: #0b4085;
  padding: 35px 0px;
}
.copyblink {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color:#fff;
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 400;
}
.copyblink a {
  color:#fff;
}
.copyblink a:hover {
  text-decoration: underline;
}
.googleMap {
  height: 100%;
  width: 100%;
}
#footer {
  overflow-x: hidden;
}
.footerDetails {
  background: url('../img/footerBg.jpg') no-repeat center;
  background-size: cover;
  padding: 70px 0px;
}
.footerCol {
  padding: 0px;
}
.footerRow {
  margin: 0px;
}
.footerDetailsHeading {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.footerDetailsAddress {
  background: url('../img/footerDetailsAddressIcon.png') no-repeat left center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-left: 45px;
}
.footerDetailsText {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 45px;
}
.footerDetailsPh {
  background: url('../img/footerDetailsPhIcon.png') no-repeat left center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footerDetailsEmail {
  background: url('../img/footerDetailsEmailIcon.png') no-repeat left center;
}
.socialLink {
  margin-top: 30px;
}
.socialLink li {
  margin-right: 10px;
}
.footerMenu li a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footerMenu li {
  margin-bottom: 15px;
}
.footerMenu li:last-child {
  margin-bottom: 0px;
}
.matchSlideHold .rangeslider--horizontal {
  height: 5px;
  margin-top: 9px;
  margin-left: 15px;
  margin-right: 15px;
}
.matchSlideHold .rangeslider__fill {
  background-color: #3b71b9;
}
.matchSlideHold .rangeslider__handle,
.matchSlideHold .rangeslider__handle:active, .matchSlideHold .rangeslider--active .rangeslider__handle {
  background-image: url(../img/sliderbutton.png);
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  width: 20px;
  height: 20px;
}
.matchSlideHold .rangeslider--horizontal .rangeslider__handle {
  top: -8px;
}
.myBankDetails {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
  -moz-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
  box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
  padding: 20px 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 15px 0px 30px;
}
.myBankDetails:last-child {
  margin-bottom: 40px;
}
.myBankName {
  font-size: 20px;
  font-weight: 800;
}
.myBankHolder {
  font-size: 18px;
  margin: 2px 0px;
}
.myBankNumber {
  font-size: 18px;
  font-weight: 500;
}
.myBankDetailsDelete img {
  cursor: pointer;
}
.myBankDetailsDelete {
  margin-left: auto;
}
.myBankMakeDefault {
  color: #3b71b9;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  margin-left: 20px;
}
.addBankBackIcon {
  text-align: right;
}
.addBankBackIcon img {
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.removeBank {
  display: none;
}
.feedPhoto img {
  width: 75px;
  margin-right: 5px;
}
.feedPhoto img:last-child {
  margin-right: 0px;
}
.feedPhoto {
  display: flex;
  overflow-x: auto;
}
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  .copyblink {
    display: block;
  }
}

.servicesHeading {
  font-size: 32px;
  color: #a1221b;
  font-weight: 600;
}
.servicesHeading span {
  font-weight: 900;
}
#youthDonor .servicesHeading {
  text-align: center;
  text-transform: uppercase;
  line-height: 36px;
}
.youthDonorText {
  text-align: center;
  color: #000;
  font-size: 16px;
  margin: 12px 0px 15px;
}
.youthDonorBtn {
  text-align: center;
}
.youthDonorBtn .btn-get-started {
  color: #fff;
  background-color: #a1221b;
}
.youthDonorBtn .btn-get-started:hover {
  background-color: #871d17;
}
.appStoreAll {
  text-align: center;
  margin-top: 50px;
}
.appStoreAll li {
  margin: 0px 15px;
}
.downloadSectionRow {
  align-items: center;
}
#downloadSection {
  padding-top: 65px;
}
.testimonialAvtarAddress {
  font-size: 18px;
  color: #3b71b9;
  margin-top: 25px;
  margin-bottom: 5px;
}
.testimonialAvtarPlace {
  font-size: 14px;
  color: #414141;
}
.testimonialAvtar {
  margin-top: 10px;
  margin-bottom: 35px;
}
.testimonialAvtar img {
  width: 120px;
  height: 120px;
  border: 6px solid #3b71b9;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  margin: 0px auto;
}
.testimonialSlider .homeAboutText {
  text-align: center;
  color: #000;
}
.testimonialSlider li {
  background-color: #eafbfb;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    5px 5px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow:         5px 5px 7px 0px rgba(0, 0, 0, 0.2);
}
.testimonialAvtarBody {
  padding: 0px 20px 45px;
}
#testimonials {
  padding-top: 0px;
  margin-top: -50px;
  padding-bottom: 70px;
}
#testimonials .bx-wrapper {
  max-width: 100% !important;
  margin-top: 40px;
}
#testimonials .bx-wrapper .bx-viewport {
  padding-bottom: 10px;
}
#testimonials .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 2px solid #191718;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0px 4px;
}
#testimonials .bx-wrapper .bx-pager.bx-default-pager a:hover,
#testimonials .bx-wrapper .bx-pager.bx-default-pager a.active,
#testimonials .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #191718;
}
#testimonials .bx-wrapper .bx-pager {
  bottom: -55px;
}
#contactUs.platform h2 {
  font-size: 60px;
}
.contactFormTitle {
  font-style: italic;
  font-size: 24px;
  color: #000;
  margin-bottom: 10px;
}
.contactForm form .form-control {
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0px;
  margin-top: 5px;
  height: 48px;
}
.contactForm form .form-control::placeholder {
  font-style: italic;
  font-size: 15px;
  color: #717070;
}
.contactForm form .abtBtn .btn-get-started {
  margin: 0px;
  margin-top: 8px;
}
.subscribeTitle {
  font-weight: 600;
  font-size: 36px;
  color: #3b71b9;
}
.subscribeForm .form-control {
  height: 58px;
  border-radius: 50px 0px 0px 50px;
  border: 0px;
  padding: 10px 30px;
}
.btn-subscribe {
  background-color: #fff;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 25px 10px 10px;
}
.subscribeForm .form-control::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #717070;
}
.subscribeForm .form-group {
  margin-bottom: 0px;
  position: relative;
}
.subscribeSection {
  padding-top: 100px;
}
#contactUs {
  background: url('../img/contactUsBg.png') no-repeat bottom center;
  background-size: 100% 100%;
}

#login {
  background-size: cover;
  padding-top: 80px;
  font-family: 'Mulish', sans-serif;
}
#content {
  width: 100%;
}
.loginBg {
  background: url('../img/loginBg.jpg') no-repeat center top;
}
#login.signUpBg {
  background: url('../img/signUpBg.jpg') no-repeat center top;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 155px;
}
.loginFormSection .form-control {
  background: none;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 16px;
}
.loginFormSection .form-control::placeholder {
  color: #fff;
  font-size: 16px;
}
.loginText {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.loginForm {
  width: 360px;
  margin: 0px auto;
  text-align: center;
}
.loginText a {
  color: #3dd495;
}
.loginName .form-control, .loginPass .form-control {
  padding-left: 48px;
  height: 40px;
  padding-right: 34px;
}
.loginName .form-control {
  background: url('../img/loginNameIcon.png') no-repeat left 8px center;
}
.loginPass .form-control {
  background: url('../img/loginPassIcon.png') no-repeat left 8px center;
}
.loginPass {
  position: relative;
}
.passwordVisiable {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 10px;
  cursor: pointer;
}
.loginFormSection .form-group {
  margin-bottom: 20px;
}
.loginLogo {
  margin-bottom: 25px;
}
.btn-welcome {
  font-weight: 700;
  font-size: 18px;
  color: #3b71b9;
  background-color: #fff;
  border: 3px solid #3b99d9;
  border-radius: 50px;
  padding: 9.5px;
  margin-top: 34px;
}
.btn-welcome:hover {
  color: #fff;
  background-color: #3b71b9;
}
.loginForgot {
  margin-top: 6px;
}
.loginForgot a {
  font-size: 16px;
  color: #fff;
}
.loginForgot a:hover {
  text-decoration: underline;
}
.loginTextBelow {
  width: 555px;
  margin: 18px auto;
}
.loginWithText {
  margin: 15px 0px 10px;
}
.loginSocial li {
  margin: 0px 10px;
}
.loginClose {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 80px;
  margin-right: 55px;
}
.signUpHeading {
  font-weight: 800;
  font-size: 33px;
  color: #3b71b9;
  margin-bottom: 6px;
}
.signUpBg .loginForm {
  width: 750px;
}
.signUpForm input:focus ~ .floating-label,
.signUpForm input:not(:focus):valid ~ .floating-label{
  top: 7px;
  bottom: 10px;
  left: 14px;
  font-size: 13.2px;
  opacity: 1;
}
.signUpForm .inputText {
  font-size: 17.6px;
  height: 54px;
  padding: 20px 40px 5px 14px;
  font-weight: 600;
  color: #3b71b9;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
}
.signUpForm .floating-label {
  position: absolute;
  pointer-events: none;
  left: 14px;
  top: 13px;
  transition: 0.2s ease all;
  color: #b8b8b8;
  font-size: 17.5px;
}
.signUpForm {
  margin-top: 40px;
}
.signUpForm .form-group {
  margin-bottom: 20px;
  position: relative;
}
.signUpForm .passwordVisiable {
  right: 15px;
}
.btn-proceed {
  width: 360px;
  margin: 0px auto;
  background-color: #3b71b9;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}
.btn-proceed:hover {
  background-color: #315c97;
  color: #fff;
}
.signUpForm2Title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #3b71b9;
  padding: 7px 42px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 32px;
}
.signUpForm2 .form-control {
  height: 54px;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding-left: 55px;
}
.signUpForm2 .form-control::placeholder {
  font-weight: 400;
  color: #b8b8b8;
  font-size: 16px;
}
.signUpForm2 .form-group {
  text-align-last: left;
  margin-bottom: 14px;
  position: relative;
}
.signUpForm2 .form-group label {
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  margin-bottom: 5px;
}
.formMail {
  background: #fff url('../img/formMail.png') no-repeat left 17px center;
}
.formPh {
  background: #fff url('../img/formPh.png') no-repeat left 17px center;
}
.signUpBg .loginForm.signUp2Form {
  width: 945px;
}
.signUp2Form .loginLogo {
  margin-bottom: -5px;
}
.selectIcon {
  position: absolute;
  top: 50%;
  margin-top: 12px;
  right: 23px;
}
.formCountry {
  background: #fff url('../img/formCountry.png') no-repeat left 17px center;
}
.formState {
  background: #fff url('../img/formState.png') no-repeat left 17px center;
}
.formCity {
  background: #fff url('../img/formCity.png') no-repeat left 17px center;
}
.formProvince {
  background: #fff url('../img/formProvince.png') no-repeat left 17px center;
}
.formAddress {
  background: #fff url('../img/formAddress.png') no-repeat left 17px center;
}
.formZip {
  background: #fff url('../img/formZip.png') no-repeat left 17px center;
}
.formMonth {
  background: #fff url('../img/formMonth.png') no-repeat left 17px center;
}
.birthdayDate {
  display: flex;
  justify-content: space-between;
}
.birthdayYear .form-control, .birthdayDay .form-control {
  padding-left: 20px;
}
.birthdayMonth {
  width: 40%;
}
.birthdayDay {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
}
.birthdayYear {
  width: 30%;
}
.birthdayDateTitle {
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  margin-bottom: 16px;
}
.addFieldItem {
  background-color: #daefff;
  /* display: flex; */
  width: max-content;
  /* width: 30%; */
  font-weight: 600;
  font-size: 16px;
  color: #3b71b9;
  padding: 12px 52px 12px 16px;
  border-radius: 30px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  text-align: left;
  position: relative;
}
.removeField img {
  position: absolute;
  right: 0;
  padding-left: 15px;
  cursor: pointer;
  margin-right: 12px;
  top: 50%;
  margin-top: -8px;
}
.signUpForm2 .input-group.lifeEvent {
  margin-top: 30px;
  margin-bottom: 5px;
  display: inline-flex;
}
.signUpForm2 .lifeEvent .form-control {
  padding-left: 20px;
  border-width: 2px;
  border-radius: 30px 0px 0px 30px;
  display: initial;
  padding-right: 40px;
}
.inputBellowText {
  font-weight: 400;
  color: #b8b8b8;
  font-size: 16px;
  margin-left: 20px;
  text-align: left;
}
.btn-add {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #3b71b9;
  padding: 10px 26px;
  border-radius: 0px 30px 0px 30px !important;
}
.btn-add:hover {
  background-color: #32609d;
  color: #fff;
}
.signUpForm2 .input-group.lifeEvent .input-group-append {
  margin-left: -30px;
  z-index: 9;
}
#login.signUpBg.signUpBg2 {
  padding-bottom: 30px;
}
#login.signUpBg.sliderBody {
  padding: 0px;
}
.menuLogo {
  position: relative;
  z-index: 9;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #88c9f9;
}
#sidebar, #sidebar .custom-menu .btn.btn-primary:after {
  background: #3b71b9 !important;
}
#sidebar.sidebarMenu {
  min-width: 300px;
  max-width: 300px;
}
#sidebar.sidebarMenu.active {
  margin-left: -300px;
}
#sidebar ul.components li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16.45px;
  color: #88c9f9;
  border-bottom: 0px;
  padding: 13px 0px;
}
#sidebar ul.components li.active > a {
  background: url(../img/activeMenu.png) no-repeat right center;
}
#sidebar ul.components li.active > a, #sidebar ul.components li a:hover {
  color: #f2f2f2;
}
#sidebar ul.components li a img {
  margin-right: 10px;
}
#sidebar ul.components {
  margin-top: 55px;
  padding-left: 40px !important;
  padding-right: 20px !important;
}
.mainHeaderRight {
    background-color: #3b99d9;
    position: relative;
}
.headerLogoAvtar {
    padding: 22px 0px;
    display: flex;
}
.headerAvtar {
    margin-left: auto;
    /*width: 160px;*/
}
.headerAvtarDetail {
    cursor: pointer;
    display: flex;
}
.avtarName {
    color: #000;
    font-size: 12px;
    align-self: center;
    margin-right: 12px;
    text-align: right;
    line-height: 14px;
    font-weight: 600;
}
.avtarName span {
    font-size: 12px;
    color: #b8b8b8;
    font-weight: 600;
}
.avtarImg {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #bbb;
}
.avtarImg img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.headerLogo {
  font-weight: 800;
  font-size: 28px;
  color: #fff;
}
.mainHeaderRight .container-fluid {
  padding-right: 45px;
  padding-left: 65px;
}
.lifeEvents {
  width: 847px;
  margin: 0px auto;
}
.searchEvents .input-group .form-control {
  height: 42px !important;
  border-radius: 30px;
 /* margin-right: -43px;*/
  font-size: 20px;
  font-weight: 400;
  width: 560px;
  padding: 5px 100px 5px 25px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
  border: 0px;
}
.searchEvents .input-group {
  position: relative;
  margin-top: 24px;
}
.searchEvents .input-group .form-control::placeholder {
  color: #b8b8b8;
}
.btn-eventSearch {
  padding: 0px !important;
  margin-top: -5px;
}
.input-group-append {
  z-index: 9;
}
.shortEvents {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-right: 69px;
    margin-top: -7px;
    cursor: pointer;
    z-index: 9;
}
.lifeEventsTitle {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #3b71b9;
  margin-top: 20px;
  margin-bottom: 10px;
}
.allLifeEvents .icon-box {
  width: 100%;
  position: relative;
  padding: 15px 0px;
}
.allLifeEvents .icon-box .servicesTab img {
  width: 98px;
  height: 94px;
}
.msgCount {
  position: absolute;
  background-color: #3b71b9;
  width: 18px;
  height: 18px;
  font-size: 9px;
  font-weight: 400;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  margin-left: 36px;
  margin-top: 2px;
}
.addLifeEvents {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 65px;
}
.addLifeEvents img {
  cursor: pointer;
}
.activeFilterOn {
  padding: 10px;
  margin-top: -17px;
}

/*--------------------------------------------------------------
# inner Body
--------------------------------------------------------------*/
.innerHeader .container-fluid,
.innerBodyOnly.homeBody .container-fluid {
  padding-left: 45px;
  padding-right: 45px;
}
.innerBodyOnly .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}
.innerBodyHeader {
  display: flex;
  align-items: center;
}
.innerBodyHeader .searchEvents .input-group {
  margin-top: 0px;
}
.innerBodyHeader .headerAvtar {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.innerBodyHeader .avtarImg, .innerBodyHeader .avtarImg img {
  width: 30px;
  height: 30px;
}
.searchEvents .input-group-append {
  margin-top: 3px;
}
.innerHeader {
  background-color: #f2f2f2;
  padding: 12px 0px;
  margin-bottom: 20px;
}
#login.signUpBg.innerBg {
  background: #f7f8f9 url(../img/innerBg.png) no-repeat center top;
  padding: 0px;
}
.innerHeaderIcon li {
  margin: 0px 10px;
}
.innerHeaderIcon  {
  margin-left: 8px;
}
.connectionsBody {
  background-color: #f7f8f9;
  margin-bottom: 60px;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  -moz-box-shadow:    0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  box-shadow:         0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  border-radius: 12px;
}
.alphabaticallyConnections {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  color: #3b71b9;
  width: 40px;
    height: 40px;
    background-color: #c3e4fc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connectionsLeft {
  background-color: #fff;
  border-radius: 12px 0px 0px 12px;
  padding: 14px 0px 15px;
  /* overflow-y: auto; */
}

.windowHeight,
.msgPersonScroll,
.msgBodyHeight {
  overflow-y: auto;
  overflow-x: hidden;
}
.alphabaticallyCount {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #91d639;
  height: 26px;
  width: 44px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
    align-items: center;
    margin-left: auto;
}
.alphabaticallyDetails {
  display: flex;
  align-items: center;
  padding: 14px 46px 14px 30px;
}
.alphabaticallyDetails-A {
  margin-bottom: -10px;
}
.connectionsLeft .connectionsTab.nav-tabs {
  display: block;
  border: none;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link.active,
.connectionsLeft .connectionsTab.nav-tabs .nav-item.show .nav-link,
.connectionsLeft .connectionsTab.nav-tabs .nav-item,
.connectionsLeft .connectionsTab.nav-tabs .nav-link,
.connectionsLeft .connectionsTab.nav-tabs .nav-link:hover,
.connectionsLeft .connectionsTab.nav-tabs .nav-link:focus,
.bankcardTab .nav-tabs,
.bankcardTab .nav-tabs .nav-link.active,
.bankcardTab .nav-tabs .nav-item.show .nav-link,
.bankcardTab .nav-tabs .nav-item,
.bankcardTab .nav-tabs .nav-link,
.bankcardTab .nav-tabs .nav-link:hover,
.bankcardTab .nav-tabs .nav-link:focus,
.messageLeft .nav-tabs,
.messageLeft .nav-tabs .nav-link.active,
.messageLeft .nav-tabs .nav-item.show .nav-link,
.messageLeft .nav-tabs .nav-item,
.messageLeft .nav-tabs .nav-link,
.messageLeft .nav-tabs .nav-link:hover,
.messageLeft .nav-tabs .nav-link:focus
 {
  border: none;
  border-radius: 0px;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link {
  padding: 10px 48px 15px 22px;
  margin-top: 10px;
}
.connectionsLeft .connectionsTab.nav-tabs .nav-link.active {
  background-color: #f7f8f9;
}
.connectionsAvtarImg {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: #bbb;
}
.connectionsAvtarImg img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.connectionsAvtarName {
  font-weight: 700;
  font-size: 16px;
  color: #3b71b9;
  line-height: 16px;
}
.connectionsAvtarId {
  font-size: 14px;
  color: #91d639;
  line-height: 17px;
}
.connectionsTabDetails,
.connectionsAvtarInfo,
.connectionsAllDetailsTop {
  display: flex;
  align-items: center;
}
.connectionsAvtarInfo {
  margin-left: auto;
}
.connectionsAvtarDetails {
  padding: 0px 16px;
}
.connectionsAvtarInfoCount {
  font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #91d639;
    height: 26px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.connectionsMsg {
  margin: 0px 15px 0px 12px;
}
.connectionsDetailsAvtarImg {
  position: relative;
  height: 126px;
    width: 126px;
    border-radius: 50%;
    background-color: #bbb;
    margin-right: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.connectionsDetailsAvtarImg img {
  height: 126px;
    width: 126px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    /* border: 1px solid #c0c0c0; */
}
.connectionsAllDetailsTop .connectionsDetailsInfo {
  width: calc(100% - 165px);
}
.connectionsDetailsInfoName {
  font-weight: 700;
  color: #3b71b9;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}
.connectionsDetailsInfoEvents span {
  font-weight: 700;
  font-size: 16px;
  color: #b8b8b8;
}
.eventsNumbers {
  color: #3b71b9 !important;
}
.eventsText {
  margin-right: 10px;
}
.connectionsDetailsInfoId, .connectionsDetailsPlace {
  font-weight: 600;
  color: #b8b8b8;
  padding-left: 25px;
}
.connectionsDetailsInfoId {
  font-size: 16px;
  background: url(../img/connectionsDetailsInfoId.png) no-repeat left center;
  line-height: 20px;
}
.connectionsDetailsPlace {
  font-size: 14px;
  background: url(../img/connectionsDetailsPlace.png) no-repeat left center;
}
.btn-following {
  font-weight: 700;
  font-size: 12px;
  color: #3b71b9;
  border: 1px solid #3b71b9;
  width: 165px;
  padding: 5px;
  margin-right: 12px;
  margin-top: 8px;
}
.btn-following:hover {
  background-color: #fff;
  color: #3b71b9;
}
.btn-message, .btn-Edit.btn-save {
  background-color: #3b71b9;
  color: #fff;
}
.btn-message:hover, .btn-Edit.btn-save:hover {
  background-color: #3161a1;
  color: #fff;
}
.connectionsRight  {
  padding: 55px 30px 15px;
  /* overflow-y: auto; */
}
.connectionsDetailsTitle, .connectionsDetailsTitle2 {
  font-weight: 700;
  color: #3b71b9;
}
.connectionsDetailsTitle {
  font-size: 20px;
}
.connectionsDetailsTitle2 {
  font-size: 16px;
  margin-top: 7px;
}
.connectionsAllDetailsBody {
  padding: 30px;
}
.connectionsWhatscommonUl {
  margin-bottom: 6px;
}
.connectionsWhatscommonUl .connectionsWhatscommonLi {
  font-weight: 600;
  color: #91d639;
  font-size: 16px;
  background: url(../img/connectionsWhatscommonUl.png) no-repeat left top 12px;
  padding-left: 20px;
  margin-top: -4px;
}
.connectionsWhatscommonUl2 .connectionsWhatscommonLi {
  color: #3b71b9;
  background: none;
  padding-left: 0px;
}
.connectionsDetailsBtn {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #fff !important;
  background-color: #3b71b9 !important;
  padding: 1px 18px !important;
  border-radius: 30px !important;
  margin-right: 8px;
  margin-top: 12px;
}
.connectionsDetailsBtn:hover {
  background-color: #3161a1 !important;
}
.settingLeftTitle {
  font-weight: 700;
  font-size: 26px;
  color: #3b71b9;
  padding-bottom: 12px;
}
.settingBody {
  margin-top: 48px;
}
.settingMenu .settingMenuLi .settingMenu {
  font-weight: 700;
  font-size: 20px;
  color: #b8b8b8;
  display: flex;
  align-items: center;
}
.settingMenu {
  padding-left: 30px;
}
.settingMenuActive {
  color: #3b71b9 !important;
}
.menuIcon {
  margin-right: 20px;
}
.settingMenuLi {
  padding: 18px 0px;
}
/* .settingBodyLeft {
  overflow-y: auto;
} */
.connectionsBody.settingBodyRight {
  background-color: #fff;
  margin-left: 30px;
  padding: 30px 25px 0px 65px;
}
.profileTop .connectionsDetailsAvtarImg {
  height: 130px;
  width: 130px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 35px;
}
.profileTop .connectionsDetailsAvtarImg img {
  height: 130px;
  width: 130px;
}
.profileTop .connectionsDetailsInfoName {
  font-size: 26px;
  line-height: 18px;
}
.profileTop .connectionsDetailsInfoEvents span {
  font-weight: 600;
  font-size: 26px;
}
.uploadImg {
  width: auto !important;
  height: auto !important;
  position: absolute;
  bottom: -15px;
  right: 0px;
}
.profileTop {
  padding: 0px 20px;
}
.profileForm label, .profileForm .form-control::placeholder, .profileForm .form-control {
  font-weight: 600;
  font-size: 16px;
  color: #b8b8b8;
}
.profileForm label {
  margin-left: 6px;
  margin-bottom: 0px;
}
.profileForm .form-control {
  border: 1px solid #b8b8b8 !important;
  height: 46px !important;
  border-radius: 6px;
  text-align: center;
  color: #000;
}
.profileForm .form-group {
  margin-top: 5px;
}
.profileForm {
  margin-top: 32px;
}
.btn-Edit {
  background-color: #f2f2f2;
width: 118px;
height: 36px;
padding: 5px;
font-weight: 600;
font-size: 20px;
color: #b8b8b8;
line-height: 0px;
border-radius: 5px;
}
.btn-Edit:hover {
  background-color: #e5e5e5;
color: #b8b8b8;
}
.btn-Edit-save {
  text-align: center;
  margin: 24px 0px 40px;
}
.bankDetailsTitle {
  font-weight: 700;
  text-align: center;
  font-size: 26px;
  color: #3b71b9;
}
.bankDetailsTitle2 {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #b8b8b8;
  margin-top: -6px;
}
.connectionsBody.bankDetails {
    background-color: #fff;
    margin-left: 30px;
    padding: 26px 105px 0px;
}
.tabCard {
  text-align: center;
}
.tabCardTitle {
  font-weight: 700;
  font-size: 10px;
  color: #8c8a8a;
  text-align: center;
  margin-top: 3px;
}
.bankcardTab .nav-item .nav-link,
.bankcardTab .nav-item .nav-link.active,
.bankcardTab .nav-item .nav-link:hover,
.bankcardTab .nav-item .nav-link:focus {
  width: 125px;
  height: 80px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
-moz-box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
box-shadow: 0px 2px 6px 0px rgba(184, 184, 184, 0.53);
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
border: 4px solid #fff;
}
.bankcardTab .nav.nav-tabs {
  justify-content: space-between;
}
.bankcardTab .nav-item .nav-link.active {
  border: 4px solid #3b71b9;
}
.bankcardTab {
  margin-top: 32px;
}
.profileForm.bankForm .form-control {
  background-color: #f7f8f9;
}
.profileForm.bankForm .btn-Edit {
  font-size: 16px;
  margin: 0px 7px;
}
.profileForm.bankForm .btn-Edit-save {
  margin-bottom: 75px;
}
.profileForm.bankForm {
  margin-top: 23px;
}
.logOut, .logOut:hover {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #ff3636;
  margin-left: -20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.logOut .menuIcon {
    margin-right: 10px;
}
.connectionsBody.infoBodyRight {
    margin-left: 15px;
}
.infoBodyRight .infoBodyCol:nth-child(1) {
  /*padding: 25px 30px;*/
  padding: 0px;
}
.infoBodyRight .innerHome {
  padding: 25px 30px 0px;
}
.infoBodyRight .infoBodyCol:nth-child(2) {
  background-color: #fff;
  padding: 70px 54px 75px;
}
.infoBodyRight .infoBodyRow {
  margin: 0px;
  height: 100%;
}
.feedbackImg {
  display: flex;
  align-items: center;
  /*height: calc(100% - 54px);*/
  height: calc(100% - 90px);
  justify-content: center;
  padding: 0px 15px;
}
.contactImg {
  height: calc(100% - 192px);
}
.feedbackImg img {
  width: 100%;
}
.feedbackTitle {
  font-weight: 600;
  font-size: 20px;
  color: #3b71b9;
  text-align: center;
}
.feedbackTitle span {
  font-weight: 800;
}
.feedbackTitle2 {
  font-weight: 600;
  font-size: 16px;
  color: #b8b8b8;
  text-align: center;
  line-height: 20px;
margin: 2px 0px;
}
.feedbackStar {
  text-align: center;
  margin: 25px 0px 40px;
}
.feedBackLabel {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      font-weight: 600;
    color: #000;
}

/* Hide the browser's default radio button */
.feedBackLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.feedBackLabel .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #b8b8b8;
  margin-top: 3px;
}

/* On mouse-over, add a grey background color */
.feedBackLabel:hover input ~ .checkmark {
  background-color: #dddddd;
}

/* When the radio button is checked, add a blue background */
.feedBackLabel input:checked ~ .checkmark {
  background-color: #fff;
  border-color: #3dd495;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.feedBackLabel .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.feedBackLabel input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.feedBackLabel .checkmark:after {
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #91d639;
}
.feedbackForm .form-control::placeholder {
  font-size: 14px;
  color: #b8b8b8;
  line-height: 20px;
}
.feedbackForm .form-control {
  border-radius: 12px;
background-color: #f2f2f2;
border: none;
padding: 15px 20px;
}
.feedbackForm .form-group {
  margin-top: 37px;
  width: 100%;
}
.btn-Edit-save.btn-feedback .btn-Edit {
  width: 180px;
  border-radius: 10px;
  font-size: 16px;
}
.btn-Edit-save.btn-feedback {
  margin: 32px 0px 0px;
}
.directInfoTitle {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.directInfoDetails li {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
margin-left: 15px;
}
.directInfo {
  background-color: #3b71b9;
  padding: 20px 30px;
  border-radius: 12px 12px 0px 12px;
}
.directInfoDetails .mail {
  background: url(../img/mail.png) no-repeat left center;
  padding-left: 32px;
}
.directInfoDetails .office {
  background: url(../img/office.png) no-repeat left center;
  padding-left: 32px;
}
.contactTitle2 {
  font-size: 14px;
  color: #b8b8b8;
  text-align: center;
}
.contactForm .form-inline .form-control {
  padding: 10px;
  background: none;
  width: calc(100% - 58px);
}
.contactForm label {
  font-weight: 700;
  font-size: 16px;
  color: #3b71b9;
}
.contactForm .form-inline  label {
  width: 58px;
  justify-content: normal;
}
.contactForm .form-group {
  padding-left: 10px;
  margin-top: 16px;
}
.contactForm .form-inline .form-group {
  border-bottom: 1px solid #cacaca;
}
.contactMsg {
  margin-top: 25px !important;
}
.contactForm .btn-Edit-save.btn-feedback {
  margin-top: 50px;
  margin-bottom: -15px;
}
.infoBodyRight .infoBodyCol:nth-child(2).aboutCol {
  padding: 40px 25px 70px;
}
.aboutText {
  font-weight: 400;
  color: #b8b8b8;
  font-size: 14px;
  line-height: 18px;
  margin-top: 13px;
}
.infoBodyRight .infoBodyCol:nth-child(2).premiumCol {
  padding:0px;
  background: none;
}
.premiumHeader {
  padding: 28px 30px 24px;
  background-color: #fff;
}
.premiumBody {
  background-color: #fff;
}
.feedbackTitle3 .feedbackTitle span {
  font-weight: 700;
}
.feedbackTitle3 {
  padding: 5px 30px;
}
.premiumBody {
  padding: 20px 30px 30px;
  background-color: #fff;
}
.premiumFeatures li {
  background: url(../img/features.png) no-repeat left top 2px;
  font-weight: 600;
  font-size: 14px;
  color: #3b71b9;
  padding-left: 30px;
  margin: 0px 0px 18px 18px;
}
.btn-Edit-save.btn-feedback.btn-premium .btn-Edit {
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  width: 195px;
  height: 50px;
}
.btn-Edit-save.btn-feedback.btn-premium .btn-Edit span {
  font-weight: 600;
  font-size: 16px;
  color: #88c9f9;
}
.infoBodyRight .infoBodyCol:nth-child(2).donteCol {
  padding: 40px 38px;
}
.donateFormTitle {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #3b71b9;
  padding: 15px;
  border-radius: 6px 6px 0px 0px;
  margin-top: 27px;
}
.donateForm {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  -moz-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  border-radius: 6px;
}
.donateForm .feedbackTitle2 {
  padding: 14px 14px 6px;
}
.donateFormOnly {
  padding: 0px 40px;
}
.donateFormOnly .form-group {
  margin-bottom: 10px;
}
.donateForm .form-control {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #cacaca;
}
.donateForm select.form-control {
  background: #fff url('../img/selectNotch.png') right 12px center no-repeat;
  font-weight: 600;
  font-size: 20px;
  color: #3b71b9;
  height: 40px;
  padding: 5px 10px;
}
.priceRangeOnly {
  font-weight: 700;
  font-size: 25px;
  color: #3b71b9;
  display: flex;
justify-content: center;
align-items: center;
border: 2px solid #d4d4d4;
border-radius: 5px;
cursor: pointer;
height: 50px;
}
.priceRangeOnly span {
  font-weight: 600;
  font-size: 15px;
  margin-right: 2px;
}
.priceRangeRow {
  margin-right: -10px;
  margin-left: -10px;
}
.priceRangeCol {
  padding: 10px;
}
.priceRangeCol .btn-Edit {
  height: 50px;
  width: 100%;
  border-radius: 10px;
}
.priceRangeCol .btn-Edit-save {
  margin: 6px 0px 18px;
}
.messageLeftTitle {
  font-weight: 700;
  font-size: 30px;
  color: #000;
}
.messageAll {
  display: flex;
}
.leftSlidePan.messageLeft {
  background: #fff none !important;
  /*padding: 0px 42px 0px 40px;*/
  width: 372px !important;
}
.messageRight.midPan {
  width: calc(100% - 372px) !important;
  border-left: 1px solid #d2d2d2 !important;
  margin-left: 372px;
  margin-right: 0px;
  border: none;
}
.msgHeading {
  display: flex;
  align-items: center;
  /*padding: 0px 42px 0px 40px;*/
}
.msgHeadingLink {
  margin-left: auto;
}
.messageLeft .nav-tabs.connerctMatched .nav-link {
  font-weight: 400;
  font-size: 16px;
  color: #b8b8b8;
  border-bottom: 3px solid #fff;
  padding: 0px 12px;
}
.messageLeft .nav-tabs.connerctMatched .nav-link.active {
  font-weight: 700;
  color: #3b71b9;
  border-bottom: 3px solid #3b71b9;
}
.messageLeft .nav-tabs.connerctMatched .nav-item {
  width: 50%;
  text-align: center;
}
.messageLeft .nav-tabs.connerctMatched {
  padding: 14px 65px 0px;
}
.tabMsgPadding {
  padding: 0px 40px;
}
.messageLeft .searchEvents .input-group {
  margin-top: 20px;
}
.messageLeft .searchEvents {
  padding-bottom: 8px;
}
.messageLeft .searchEvents .input-group .form-control {
  height: 30px !important;
  border: none;
  width: 1%;
  font-size: 12px;
  color: #000;
  margin-right: -30px;
  padding-right: 40px;
}
.messageLeft .searchEvents .input-group .form-control::placeholder {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
}
.msgPerson .connectionsAvtarImg,
.msgPerson .connectionsAvtarImg img {
  position: relative;
  width: 44px;
  height: 44px;
}
.msgPerson .connectionsAvtarName {
  font-size: 12px;
}
.msgPerson .connectionsAvtarId {
  font-weight: 700;
  font-size: 9px;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #b8b8b8;
}
.msgPerson .connectionsAvtarId.unreadMsg {
  color: #91d639;
}
.msgPerson .connectionsAvtarDetails {
  width: calc(100% - 44px);
  padding: 0px 13px;
}
.msgPerson {
  /*padding: 12px 50px 12px 12px;*/
  margin: 0px 25px 0px 40px;
  /*border-bottom: 2px solid #e5e5e5;*/
}
.msgPerson .connectionsTabDetails .nav-link {
  display: flex;
  align-items: center;
  padding: 12px 50px 12px 12px;
  width: 100%;
}
.msgPerson .connectionsTabDetails {
  width: 100%;
  border-bottom: 2px solid #e5e5e5 !important;
}
.msgPerson .nav-item {
  margin: 0px;
}
.addPersonMsg {
      position: fixed;
    left: 0px;
    bottom: 0px;
    margin-left: 237px;
    margin-bottom: 35px;
    cursor: pointer;
    z-index: 999;
}
.messageHeader {
  padding: 11px 45px;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
}
.messageHeader .connectionsAvtarImg,
.messageHeader .connectionsAvtarImg img {
  height: 54px;
  width: 54px;
}
.messageHeader .connectionsAvtarName {
  font-size: 23px;
color: #000;
line-height: 24px;
}
.messageHeader .connectionsAvtarId {
  font-size: 12px;
color: #3b71b9;
}
.messageHeader .connectionsAvtarDetails {
  padding: 0px 20px;
}
.msgHeadingVideo {
  margin: 0px 18px 0px 35px;
}
.msgTime {
  font-weight: 700;
  font-size: 12px;
  color: #b8b8b8;
  text-align: center;
  margin: 5px 0px 2px;
}
.textTypeBox .searchEvents .input-group .form-control {
  height: 44px !important;
font-size: 16px;
border-radius: 30px;
width: 1%;
margin-left: -40px;
padding: 5px 52px;
margin-right: -20px;
}
.textTypeBox .searchEvents .input-group .form-control::placeholder {
  font-weight: 600;
  color: #b8b8b8;
}
.textTypeBox .btn-eventSearch {
  margin-top: -4px;
}
.textTypeBox {
  padding: 15px 110px 45px 55px;
}
.textTypeBox .btn-eventSearch.btn-sendMsg {
  margin-left: -19px;
}
.textTypeBox .searchEvents .input-group {
  margin-top: 0px;
}
.msgBody .msgBodyContain {
  padding: 0px 95px 0px 55px;
}
.chatPersonBox .connectionsAvtarImg,
.chatPersonBox .connectionsAvtarImg img {
  height: 44px;
  width: 44px;
}
.chatText {
  font-weight: 600;
  font-size: 14px;
  color: #000;
  /*width: calc(100% - 44px);*/
  background-color: #fff;
  max-width: 290px;
  padding: 10px;
  border-radius: 4px;
}
.chatTextAll {
  background: url("../img/chartNotch-l.png") no-repeat left top -1px;
  margin-top: 5px;
  padding-left: 19px;
  width: calc(100% - 44px);
}
.chatPersonBox .connectionsTabDetails {
  align-items: normal;
}
.sentMsgTime {
  text-align: left;
  margin: 6px 0px 0px 70px;
}
.chatPersonBox {
  margin-top: 10px;
}
.chatBoxOdd .chatPersonBox .chatText {
  background-color: #3b71b9;
  color: #fff;
}
.chatBoxOdd .chatTextAll {
  background: url("../img/chartNotch-r.png") no-repeat right top -1px;
  padding-left: 0px;
  padding-right: 19px;
}
.chatBoxOdd,
.chatBoxEven {
  display: flex;
}
.chatBoxOdd {
  justify-content: flex-end;
}
.chatBoxEven {
  justify-content: flex-start;
}
.chatBoxOdd .sentMsgTime {
  text-align: right;
  margin: 6px 70px 0px 0px;
}
.readMyMsg {
  background: url("../img/readMsg.png") no-repeat center right;
  padding-right: 20px;
}
.unreadMyMsg {
  background: url("../img/unreadMsg.png") no-repeat center right;
  padding-right: 20px;
}
.chatMissCall.chatBoxOdd .chatTextAll,
.chatMissCall.chatBoxEven .chatTextAll {
  background: none;
  margin-top: 0px;
}
.chatText1 {
  font-weight: 400;
  font-size: 14px;
  color: #f47458;
  text-align: center;
}
.chatText2 {
  font-weight: 700;
  font-size: 10px;
  color: #3b71b9;
  text-align: center;
  margin-top: -4px;
}
.chatPersonBox .chatText.missedCallLogo {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 188px;
  height: 50px;
  justify-content: center;
}
.chatBoxEven .chatPersonBox .chatText.missedCallLogo {
  width: 206px;
}
.missedCallText {
  padding-left: 10px;
}
.linkAccountList li span {
  font-weight: 600 !important;
  display: flex;
align-items: center;
}
.linkAccountList li span img {
  margin-right: 10px;
}
.linkAccountList li {
  align-items: center;
}
.connectionsBody.linkAcc {
    background-color: #fff;
    margin-left: 30px;
    padding: 48px 65px 0px;
}
.connectionsBody.passDetails {
    background-color: #fff;
    margin-left: 30px;
    padding: 62px 124px 0px;
}
.linkAccountList {
  padding:  5px 45px 45px 45px !important;
}
.forgotpassLink {
  font-weight: 600 !important;
  font-size: 16px !important;
}
.passDetails .profileForm.bankForm .btn-Edit-save {
  margin-top: 30px;
  margin-bottom: 65px;
}
.passDetails .profileForm .form-group {
  margin-top: 12px;
}
.passDetails .bankcardTab {
  margin-top: -10px;
}
.connectionsBody.securityBg {
    background-color: #fff;
    margin-left: 30px;
    padding: 0px 45px;
}
.linkAccountTitle {
  font-weight: 700;
  font-size: 20px;
  color: #3b71b9;
}
.securityBg .linkAccountList {
  padding: 2px 55px 50px 30px !important;
}
.securityBg .feedbackTitle2 {
  margin: 20px 0px 20px 30px;
}
.linkAccNoti .linkAccountList li span img {
  margin-right: 30px;
}
.connectionsBody.blockBg {
  background-color: #fff;
    margin-left: 30px;
    padding: 45px 40px 0px;
}
.connectionsBody.blockBg .linkAccountList .unblockText {
  width: 76px;
  text-align: right;
}
.connectionsBody.blockBg .linkAccountList li span {
  width: calc(100% - 76px);
}
.blockBg .searchEvents .input-group .form-control {
  border-radius: 30px;
}
.blockBg .searchEvents .input-group .form-control {
  width: 1%;
  padding-right: 120px;
}
.blockBg .searchEvents .input-group-append {
  margin-top: 4px;
  margin-left: -70px;
}
.blockBg .btn-eventSearch,
.blockBg .btn-eventSearch:hover {
  font-weight: 600;
  color: #f47458;
  font-size: 20px;
  padding: 0px 30px !important;
}
.blockBg .linkAccountList li span img {
  margin-right: 20px;
}
.unblockText {
  color: #3b71b9;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  cursor: pointer;
}
.blockBg .linkAccountList {
  padding: 5px 26px 45px 26px !important;
}
.connectionsBody.msgSettingBg {
  background-color: #fff;
    margin-left: 30px;
    padding: 33px 80px 0px;
}
.msgSettingBg .linkAccountTitle .msgSettingIcon {
  margin-right: 12px;
}
.msgSettingBg .linkAccountList {
  padding: 5px 0px !important;
}
.msgSettingBg .linkAccountList li span {
  font-weight: 400 !important;
}
.msgSettingBg .feedbackTitle2 {
  text-align: left;
  margin-top: -5px;
  width: 70%;
}
.msgSettingBg .profileForm.bankForm {
  padding-bottom: 40px;
}
.feedTab li a,
.matchCountNumber {
	font-weight: 700;
}
.feedTab li a.active {
	text-decoration: none !important;
	border-bottom: 2px solid #3b71b9 !important;
}
.feedTab li {
	width: auto !important;
}
.feedTab {
	justify-content: space-around;
	/* padding: 0px 10px; */
}
.feedTabLine {
	color: #3b71b9;
	font-weight: 600;
	margin: 0px 9px;
}
.matchCountText {
	font-size: 15px;
	font-weight: 600;
}
.borderleftright {
	border-left: 2px solid #88c9f9 !important;
	border-right: 2px solid #88c9f9 !important;
}
.leftSlidePan,
.rightSlidePan {
	/* background: none !important; */
  width: 325px !important;
}
.matchHolder {
	margin-top: 20px !important;
	padding: 12px 12px 6px !important;
}
.feedTab li {
	padding-top: 35px !important;
}
.matchHolder h5 {
	margin-bottom: 0px;
}
.slidenumb {
	margin-top: -4px;
}
.midPan {
	border-left: 2px solid #d3d4d4;
	border-right: 2px solid #d3d4d4;
	/* width: calc(100% - 650px) !important;
	margin-left: 325px !important;
	margin-right: 325px !important; */
}
.settingFlip .midPan,
.connectionFlip .midPan {
  border: none;
}
.eventList .connectionsDetailsInfoName {
	font-size: 24px !important;
}
.eventList .connectionsDetailsInfoEvents span {
	font-size: 20px !important;
}
.eventList .connectionsDetailsInfo.lifeEventCenter {
  position: relative;
  padding-top: 10px;
}
.eventList .connectionsDetailsInfo.lifeEventCenter .connectionsDetailsInfoLink {
  position: absolute;
left: 45px;
top: 50%;
margin-top: -16px;
z-index: 99;
}
.leftPan {
	padding-right: 25px;
	/* direction: rtl;  */
}
.connectionFlip .leftPan {
  padding-right: 0px;
}
.rightPan  {
	padding-left: 25px;
}
.perEvent {
	padding: 0px !important;
	margin: 26px 42px !important;
}
.perEvent img {
	padding: 4px 5.5px 0px !important;
}
.searchGlobalFeed.messageLeft .searchEvents {
	padding: 0px;
}
.searchGlobalFeed.messageLeft {
	background: none;
	width: auto;
	padding-right: 10px;
	margin-bottom: 20px;
}
.searchGlobalFeed.messageLeft .searchEvents .form-control::placeholder,
.searchGlobalFeed.messageLeft .searchEvents .form-control {
	font-size: 15px;
	font-weight: 400;
}
.searchGlobalFeed.messageLeft .searchEvents .form-control {
	padding-right: 55px;
}
.searchGlobalFeed.messageLeft .searchEvents .shortEvents {
	margin-top: -5px;
	margin-right: 38px;
}
.rightPan .globalFeedList {
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
	margin-right: 3px;
	padding: 16px 20px;
	border-radius: 8px;
	margin-bottom: 30px;
}
/* .rightPan .globalFeedList:last-child {
	margin-bottom: 6px;
} */
.matchHolderShadow {
	-webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
	box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
.connectedInfo span {
	font-weight: 700 !important;
}
.connectedInfo p {
	line-height: 16px;
	margin-bottom: -6px !important;
}
.greenCountFeed {
	border-radius: 20px !important;
	font-weight: 700 !important;
  font-size: 12px !important;
  padding: 2px !important;
  width: 32.4px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadPhotoHeading {
	margin: 10px 0px 8px !important;
}
.dismissButton {
	color: #b8b8b8 !important;
	margin-left: 0px !important;
}
.rightPanBtn {
	padding: 0px 15px;
	justify-content: space-between;
	margin-top: 20px;
}
.dismissButton,
.messageButton,
.tagstarButton {
	padding: 0px !important;
	height: 25px;
  width: 32%;
}
.dismissButton {
	margin-left: 0px !important;
}
.rightPanText{
	padding-left: 10px;
}
.profileForm.bankForm select.form-control.selectBank {
    background: #f7f8f9 url('../img/selectNotch.png') right 12px center no-repeat;
}
.feedadd {
	left: 32px !important;
	top: 12px !important;
}
.globalFeedList .connectedInfo {
  display: flex;
align-items: center;
margin-bottom: 10px;
}
.leftPan .tab-content {
  margin-bottom: 30px;
}
.lifeEventBtn .btn-Edit.btn-save {
  width: 288px;
  border-radius: 30px;
  margin-top: 12px;
}
.profileForm.lifeEventForm .form-control,
.profileForm.lifeEventForm .form-control::placeholder {
  border: none !important;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  height: 50px !important;
  padding: 5px 5px 5px 55px;
}
.profileForm.lifeEventForm {
  margin: 0px 65px;
}
.profileForm.lifeEventForm select.form-control.selectBank {
  background: #fff url('../img/selectNotch2.png') right 12px center no-repeat;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}
.profileForm label.graduateCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  color: #000 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 162px;
margin: 0px auto;
}

/* Hide the browser's default checkbox */
.graduateCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.graduateCheck .graduateCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: none;
  border: 2px solid #b8b8b8;
  border-radius: 4px;
  margin-top: 5px;
}

/* On mouse-over, add a grey background color */
.graduateCheck:hover input ~ .graduateCheckmark {
  background: none;
}

/* When the checkbox is checked, add a blue background */
.graduateCheck input:checked ~ .graduateCheckmark {
  background: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.graduateCheck .graduateCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.graduateCheck input:checked ~ .graduateCheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.graduateCheck .graduateCheckmark:after {
  left: 7px;
  top: 2px;
  width: 8px;
  height: 15px;
  border: solid #3b71b9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.profileForm.lifeEventForm label {
  font-weight: 600;
  color: #3b71b9;
  font-size: 22px;
}
.profileForm.lifeEventForm .form-group {
  text-align: left;
  margin: 0px 0px 8px;
}
.schoolInfo {
  background: #fff url('../img/schoolInfoBg.png') no-repeat left 12px center;
}
.schoolSorority {
  background: #fff url('../img/schoolSororityBg.png') no-repeat left 12px center;
}
.schoolTeacher {
  background: #fff url('../img/schoolTeacherBg.png') no-repeat left 12px center;
}
.profileForm.lifeEventForm .form-group.graduatedCheckAll {
  margin: 2px 0px 20px;
}
.connectionFlip .leftSlidePan {
  width: 450px !important;
  border-radius: 12px;
}
.connectionFlip .midPan {
  width: calc(100% - 450px);
  margin-left: 450px;
  margin-right: 0px;
}
.connectionTitleResponsive {
  display: none;
}
.settingFlip .leftSlidePan {
  width: 350px !important;
  border-radius: 12px;
}
.settingFlip .midPan {
  width: calc(100% - 350px);
  margin-left: 350px;
  margin-right: 0px;
}
.myEvenntsAll {
    display: flex;
}
.removeMainCenter,
.doppelgangerClose {
  display: none;
}
.reverseLookupResult {
  padding: 0px;
  position: relative;
}
.reverseLookupResult .connectionsDetailsAvtarImg {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.reverseLookupResult .connectionsDetailsAvtarImg img {
  height: 100px;
  width: 100px;
  border: 2px solid #3b71b9;
}
.reverseLookupResult .connectionsAllDetailsTop {
  align-items: unset;
  position: relative;
}
.reverseLookupResult .connectionsAllDetailsTop .connectionsDetailsInfo {
    width: calc(100% - 115px);
    text-align: left;
}
.reverseLookupResult .greenCountFeed {
  height: 28px;
  width: 44px;
  font-size: 19px !important;
  font-weight: 400 !important;
}
.reverseLookuEmail,
.reverseLookuCall,
.reverseLookuDate,
.reverseLookuPlace {
  font-size: 16px;
  font-weight: 400;
  color: #3b71b9;
  padding-left: 30px;
  margin-top: 8px;
}
.reverseLookuEmail {
  background: url(../img/formMail-w.png) no-repeat left center;
}
.reverseLookuCall {
    background: url(../img/formPh-w.png) no-repeat left center;
}
.reverseLookuDate {
    background: url(../img/formMonth-w.png) no-repeat left center;
}
.reverseLookuPlace {
    background: url(../img/formCountry-w.png) no-repeat left center;
}
.reverseLookupResult .matchHolder {
  padding: 25px 20px 20px !important;
  border-radius: 12px;
  -webkit-box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0.25) !important;
}
.reverseLookupResult .addBankBackIcon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 42px;
  margin-top: 5px;
  z-index: 9;
}
.eventList .reverseLookupResult .connectionsDetailsInfoEvents span {
  font-size: 18px !important;
}
.reverseLookupResult .reverseLookupMatch {
  margin: 26px 42px;
}
.doppelgangerImgAll {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.doppelgangerImg {
  width: 50%;
  height: 150px;
}
.doppelgangerImg:first-child {
  margin-right: 20px;
}
.doppelgangerImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center top;
  border-radius: 20px;
}
.reverseLookupMatch .connectionsDetailsInfo .reverseLookupBtn {
  text-align: right;
}
.reverseLookupMatch .reverseLookupBtn .btn-message {
  margin-right: 0px;
}
.innerLogoRight {
  position: relative;
}
.myFilterAll {
  position: absolute;
  z-index: 9999;
  top: 0;
  margin-top: 44px;
}
.myFilter {
  width: 100%;
  background-color: #fff;
  padding: 30px 60px;
  border-radius: 12px;
  -webkit-box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.eventsOnly {
    color: #b8b8b8;
    font-weight: 700;
    border: 2px solid #b8b8b8;
    display: inline-block;
    padding: 4px 18px;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.myAllEvents  {
  text-align: center;
  margin-top: 20px;
}
.activeEvents {
  color: #3b71b9;
  border-color: #3b71b9;
}
.myFilter .lifeEvent .form-control {
  padding-left: 20px;
    border-radius: 30px 0px 0px 30px;
    display: initial;
    height: 48px;
    border: 1px solid #bbbbbb;
    padding-right: 40px;
    border-width: 2px;
}
.myFilter .input-group.lifeEvent .input-group-append {
    margin-left: -30px;
    z-index: 9;
}
.myFilter .addFieldItem {
  margin-top: 0px;
  padding: 8px 35px 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.myFilter .btn-add {
  padding: 8px 26px;
}
.myFilter .lifeEvent {
  margin-top: 10px;
}
.myFilter::after {
  position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 30px 20px 30px;
    border-color: transparent transparent #fff transparent;
    top: 0px;
    right: 0px;
    content: '';
    z-index: 9;
    margin-right: 58px;
}
.eventsFilterOff {
  display: none;
}

/*--------------------------------------------------------------
# inner Body End
--------------------------------------------------------------*/



@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1249px) {
  .myEvenntsAll {
    display: block;
  }
}

@media (max-width: 1199px) {
  #hero h1, .platformFont2 {
    font-size: 60px;
    line-height: 42px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 44px;
  }
  #hero h1 span.bannerHeading3, .platformFont4, #contactUs.platform h2 {
    font-size: 52px;
    line-height: 46px;
  }
  .bannerText2 {
    font-size: 19px;
  }
  .btn-get-started {
    font-size: 22px;
  }
  .platform h2 {
    font-size: 46px;
    line-height: 40px;
  }
  .platformFont3 {
    font-size: 85px;
    line-height: 76px;
  }
  #testimonials .bx-wrapper {
    max-width: 755px !important;
    margin-left: auto;
    margin-right: auto;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 34px;
    line-height: 40px;
  }
  .videoTitle2 {
    font-size: 38px;
  }
  .homeAboutTextVideo2 {
    font-size: 20px;
  }
  .footerDetailsAddress {
    font-size: 14px;
  }
  .footerDetailsText {
    font-size: 15px;
  }
  .footerDetailsEmail {
    padding-bottom: 4px;
  }
}

@media (max-width: 1024px) {
  #hero {
    background: none;
  }
  .bannerImage {
    display: block;
  }
  .bannerImage img {
    width: 480px;
    max-width: none;
    margin-left: -70px;
  }
  #hero .heroCol {
    z-index: 9;
  }
}

@media (max-width:991px) {
  #hero h1 {
    margin-top: 50px;
  }
  #hero {
    min-height: 714px;
  }
  #hero h1, .platformFont2 {
    font-size: 48px;
    line-height: 34px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 32px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 40px;
    line-height: 32px;
  }
  .platformFont4 {
    font-size: 48px;
  }
  #contactUs.platform h2 {
    line-height: 44px;
  }
  .bannerText2 {
    font-size: 14px;
    line-height: 20px;
  }
  .btn-get-started {
    font-size: 18px;
    width: 235px;
    text-align: center;
  }
  /* #homeAbout {
    padding-top: 60px;
  } */
  .abtBtn .btn-get-started {
    margin-top: 10px;
  }
  #platform .platformOnly .platformImg {
    border-bottom: 3px solid #1a2237;
    width: 100%;
  }
  .platform .platformOnly .platformRow h2 {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  #testimonials .bx-wrapper {
    max-width: 370px !important;
  }
  .subscribeForm {
    margin-top: 30px;
  }
  .googleMap {
    height: 400px;
  }
  .footerDetailCol, .footerMenuCol {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .footerMenuCol {
    margin-top: 60px;
  }
  .footerBottom .copyblink .copyright, .footerBottom .copyblink .bottomlink {
    text-align: center;
  }
  #testimonials {
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .contactForm {
    margin-top: 30px;
  }
  .bannerImage img {
    width: 435px;
    margin-left: -105px;
  }
  #sidebar.sidebarMenu {
    min-width: 300px;
    max-width: 300px;
  }
  #sidebar.sidebarMenu {
    margin-left: -300px;
  }
  #sidebar.sidebarMenu.active {
    margin-left: 0px;
  }
}

@media (max-width: 950px) {
  .innerHeader {
    background-color: #fff;
    /* -webkit-box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.25); */
    padding: 20px 0px;
    margin-bottom: 0px;
  }
  .innerHeaderIcon li:nth-child(1) {
    display: none !important;
  }
  .innerHeaderIcon li {
    width: 18.76%;
    margin: 0px;
    /* text-align: center; */
  }

  .innerHeaderIcon {
    width: calc(100% - 30px);
    margin-left: 0px;
  }
  .rightPan, .midPan, .leftPan {
    padding-left: 30px;
    padding-right: 30px;
    border: none;
  }
  .connectionFlip .leftSlidePan, .settingFlip .leftSlidePan {
    width: 100% !important;
    padding: 0px 30px;
  }
  .connectionFlip .leftPan, .connectionFlip .midPan {
    padding-left: 0px;
    padding-right: 0px;
  }
  .connectionFlip .leftPan,
  .connectionFlip .connectionsAllDetailsBody,
  .settingFlip .connectionsBody.settingBodyRight,
  .settingFlip .connectionsBody.bankDetails,
  .settingFlip .connectionsBody.passDetails,
  .settingFlip .connectionsBody.securityBg,
  .settingFlip .connectionsBody.blockBg,
  .settingFlip .connectionsBody.linkAcc,
  .settingFlip .connectionsBody.msgSettingBg,
  .settingFlip .connectionsBody.infoBodyRight {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
    -moz-box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
    box-shadow: 0px 3px 15px 0px rgba(184, 184, 184, 0.53);
  }
  .connectionFlip .midPan {
    background: #f7f8f9 url("../img/innerBg.png") no-repeat center top;
    border: 0px;
    margin: 0px 30px !important;
  }
  .connectionFlip .connectionsAllDetailsBody {
    background-color: #f7f8f9;
    border-radius: 12px;
    margin: 30px 20px 20px;
  }
  .connectionFlip .connectionsRight {
    padding: 30px 0px 0px;
    /* margin: 0px 30px; */
  }
  .connectionsBody {
    box-shadow: none;
  }
  .connectionTitleResponsive {
    text-align: center;
    margin-bottom: 18px;
    margin-top: 20px;
    display: block
  }
  .settingBody {
      margin-top: 30px;
  }
  .settingFlip .connectionsBody.settingBodyRight {
    padding: 30px 30px 0px;
    margin-left: 0px;
  }
  .settingFlip .leftSlidePan {
    margin-top: -30px;
    padding-bottom: 40px;
  }
  .profileForm.bankForm .btn-Edit {
    margin-bottom: 15px;
  }
  .settingFlip .connectionsBody.bankDetails,
  .settingFlip .connectionsBody.passDetails,
  .settingFlip .connectionsBody.securityBg,
  .settingFlip .connectionsBody.blockBg,
  .settingFlip .connectionsBody.linkAcc,
  .settingFlip .connectionsBody.msgSettingBg,
  .settingFlip .connectionsBody.infoBodyRight {
    margin-left: 0px;
  }
  .messageBodyOnly {
    border-top: 1px solid #d2d2d2;
  }
  .messageRight.midPan {
    width: 100% !important;
    padding: 0px;
  }
  .leftSlidePan.messageLeft.closePan {
    left: -100%;
    z-index: 1;
  }
  .leftSlidePan.messageLeft {
    width: 100% !important;
  }
  .messageHeader {
    padding: 11px 30px;
  }
  .msgBody .msgBodyContain {
    padding: 0px 40px;
  }
  .leftSlidePan.messageLeft .panelslideOpenButton {
    top: 49px;
  }
  .textTypeBox {
    padding: 15px 40px 15px 40px;
  }
  .msgPerson {
    margin: 0px 40px;
  }
  .settingBody .leftSlidePan .panelslideOpenButton {
    top: 15px;
  }
  .alphabaticallyDetails {
    padding: 14px 30px;
  }
  .connectionsLeft .connectionsTab.nav-tabs .nav-link {
    padding: 10px 30px 15px 30px;
  }
   .addPersonMsg {
      left: auto;
      right: 0px;
      bottom: 0px;
      margin-left: 0px;
      margin-bottom: 35px;
      margin-right: 40px;
  }
  .leftSlidePan.closePan .addPersonMsg {
      display: none;
  }
  .headerAvtar {
    justify-content: space-around !important;
  }
  .myEvenntsAll {
      display: flex;
  }
  .eventList .connectionsDetailsInfoName,
  .innerBodyOnly.homeBody .leftSlidePan .matchCountHold,
  .innerBodyOnly.homeBody .rightSlidePan .searchGlobalFeed.messageLeft  {
    margin-top: 20px;
  }
  .innerBodyOnly.homeBody .leftSlidePan,
  .innerBodyOnly.homeBody .rightSlidePan {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .settingLeftTitle {
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  #hero {
    min-height: 100vh;
  }
  #hero .container {
    /* padding-top: 60px; */
  }
  #hero h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 0px;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
  .btn-get-started {
    font-size: 12px;
  }
  #hero h1, .platformFont2 {
    font-size: 35px;
    line-height: 26px;
  }
  #hero h1 {
    margin-top: 0px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 24px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 28px;
    line-height: 20px;
  }
  .platformFont4 {
    font-size: 40px;
  }
  .platformFont3 {
    font-size: 75px;
    line-height: 60px;
  }
  .homeAboutText {
    font-size: 14px;
    line-height: 20px;
  }
  .logo2 {
    padding-left: 114px !important;
    width: 235px;
  }
  .logo1 {
    width: 95px;
  }
  .headerRight img {
    width: 32px;
  }
  .headerRight a:first-child {
    margin-right: 5px;
  }
  .bannerText2 {
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .bannerBtn {
    margin-top: 10px;
  }
  .btn-get-started img {
    width: 16px;
  }
  .btn-get-started {
    padding: 10px 16px !important;
    width: 160px;
    text-align: center;
    margin: 5px 0px;
  }
  #hero {
    min-height: 515px;
  }
  .platformSmallFont {
    font-size: 24px;
  }
  .platform h2 {
    font-size: 38px;
    line-height: 32px;
  }
  .servicesTab img {
    width: 80px;
    height: 75px;
  }
  .sqr {
    top: -80px;
  }
  .sqr img {
    width: 80px;
  }
  #testimonials {
    margin: 0px;
  }
  .footerDetailCol, .footerMenuCol {
    max-width: 540px;
  }
  .copyblink {
    font-size: 14px;
  }
  .bannerImage img {
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
  }
  .bannerImage {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  #hero .platformRow {
    flex-direction: column-reverse;
  }
  .connectionsBody.bankDetails,
  .connectionsBody.passDetails,
  .connectionsBody.linkAcc,
  .connectionsBody.msgSettingBg {
    padding-left: 55px;
    padding-right: 55px;
  }
  .myEvenntsAll {
    display: block;
  }
}

@media (max-width:662px) {
  .perEvent {
    margin: 26px 27px !important;
  }
}

@media (max-width:575px) {
  .bannerText2 {
    /* width: 300px; */
  }
  #hero {
    min-height: 470px;
  }
  .footerDetailCol, .footerMenuCol {
    max-width: 94%;
  }
  .videoTitle2 {
    font-size: 32px;
  }
  #contactUs.platform h2 {
    line-height: 40px;
  }
  .vidImg {
    margin-left: -25px;
  }
  .profileTop .connectionsDetailsInfoName {
    font-size: 24px;
    line-height: 26px;
  }
  .profileTop .connectionsDetailsInfoEvents span {
    font-size: 24px;
  }
  .contactForm .form-inline .form-group {
    padding-left: 0px;
  }
  .contactForm .form-inline .form-control {
    width: 100%;
  }
  .connectionsBody.bankDetails,
  .connectionsBody.passDetails,
  .connectionsBody.securityBg,
  .connectionsBody.blockBg,
  .connectionsBody.linkAcc,
  .connectionsBody.msgSettingBg {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bankcardTab .nav-item .nav-link, .bankcardTab .nav-item .nav-link.active, .bankcardTab .nav-item .nav-link:hover, .bankcardTab .nav-item .nav-link:focus {
    width: 115px;
  }
  .securityBg .linkAccountList {
    padding: 2px 15px 50px 15px !important;
  }
  .blockBg .linkAccountList,
  .linkAccNoti .linkAccountList,
  .linkAcc .linkAccountList {
    padding: 5px 10px 45px 10px !important;
  }
  .perEvent {
    	margin: 26px 24px !important;
    }
}

@media (max-width:554px) {
  .perEvent {
    margin: 26px 13px !important;
  }
}

@media (max-width:489px) {
  #hero {
    min-height: 456px;
  }
  .appStoreAll li img {
    width: 158px;
  }
  .connectionsAvtarDetails {
      padding: 0px 10px;
  }
  .connectionsMsg {
      margin: 0px 10px 0px 7px;
  }
  .settingFlip .leftPan {
    padding: 0px;
  }
  .settingMenu {
    padding-left: 15px;
  }
  .profileTop .connectionsDetailsInfoName {
    font-size: 22px;
    line-height: 22px;
  }
  .profileTop .connectionsDetailsInfoEvents span {
    font-size: 22px;
  }
  .bankcardTab .nav-item .nav-link, .bankcardTab .nav-item .nav-link.active, .bankcardTab .nav-item .nav-link:hover, .bankcardTab .nav-item .nav-link:focus {
    width: 90px;
    padding: 5px;
  }
  .blockBg .linkAccountList li {
    /* display: block; */
  }
  .blockBg .unblockText {
    text-align: right;
  }
  .perEvent {
    margin: 26px 8px !important;
  }
}

@media (max-width:458px) {
  .perEvent {
    margin: 26px 10px !important;
  }
  .perEvent img {
    width: 95px;
  }
}

@media(max-width:413px) {
  .logo1 {
    width: 70px;
  }
  .logo2 {
    padding-left: 90px !important;
    width: 185px;
  }
  .headerRight {
    margin-top: -4px;
  }
  .headerRight img {
    width: 20px;
  }
  .headerRight a:first-child {
    margin-right: 0px;
  }
  #header .header-container {
    padding: 8px 0px;
  }
  #hero h1, .platformFont2 {
    font-size: 28px;
    line-height: 22px;
  }
  #hero h1 span.bannerHeading2 {
    font-size: 22px;
  }
  #hero h1 span.bannerHeading3 {
    font-size: 26px;
    line-height: 18px;
  }
  .platformSmallFont {
    font-size: 20px;
  }
  .platform h2 {
    font-size: 30px;
    line-height: 28px;
  }
  .platformFont4 {
    font-size: 34px;
    line-height: 36px;
  }
  .platformFont3 {
    font-size: 65px;
    line-height: 56px;
  }
  .appStoreAll li {
    margin: 0px 5px;
  }
  .appStoreAll li img {
    width: 130px;
  }
  .vidImg {
    margin-left: -20px;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 28px;
    line-height: 34px;
  }
  .videoTitle2 {
    font-size: 30px;
  }
  .homeAboutTextVideo2, .videoPresentationBtn {
    font-size: 16px;
  }
  .videoPresentationBtn img {
    width: 75px;
  }
  .videoTitle2 {
    font-size: 26px;
  }
  #contactUs.platform h2 {
    line-height: 32px;
    font-size: 40px;
  }
  #video.platform h2, .subscribeTitle {
    font-size: 25px;
    line-height: 30px;
  }
  .subscribeForm .form-control {
    padding: 10px 5px 10px 30px;
  }
  .subscribeForm .form-control::placeholder {
    font-size: 12px;
  }
  .copyblink {
    font-size: 13px;
  }
  .bannerText2 {
    font-size: 10px;
    line-height: 14px;
  }
  .rightPan, .midPan, .leftPan {
    padding-left: 15px;
    padding-right: 15px;
  }
  .connectionFlip .midPan {
    margin: 0px 15px !important;
  }
  .connectionsAllDetailsTop {
    display: block;
  }
  .connectionsDetailsAvtarImg,
  .connectionsAllDetailsTop .connectionsDetailsInfo {
    margin: 0px auto !important;
  }
  .connectionsAllDetailsTop .connectionsDetailsInfo,
  .btn-following {
    width: 100%;
  }
  .btn-following {
    margin-right: 0px;
  }
  .connectionsAllDetailsBody {
    padding: 20px;
  }
  .connectionFlip .connectionsAllDetailsBody,
  .msgPerson {
    margin-left: 15px;
    margin-right: 15px;
  }
  .connectionFlip .leftSlidePan,
  .connectionsLeft .connectionsTab.nav-tabs .nav-link,
  .alphabaticallyDetails,
  .messageHeader,
  .msgBody .msgBodyContain,
  .textTypeBox,
  .tabMsgPadding,
  .messageLeft .nav-tabs.connerctMatched,
  .settingFlip .leftSlidePan {
    padding-left: 15px;
    padding-right: 15px;
  }
  .connectionsAvtarId {
    font-size: 12px;
    line-height: 16px;
  }
  .connectionsAvtarName {
    font-size: 14px;
  }
  .messageHeader .connectionsAvtarDetails {
    padding-left: 10px;
    padding-right: 10px;
  }
  .messageHeader .connectionsAvtarName {
    font-size: 14px;
    line-height: 18px;
  }
  .msgHeadingVideo {
    margin: 0px 15px 0px 20px;
  }
  .messageLeftTitle {
    font-size: 26px;
  }
  .connectionsDetailsInfo {
    margin-top: 15px !important;
  }
  .infoBodyRight .infoBodyCol:nth-child(2) {
    padding: 40px 30px 55px;
  }
  .logOut, .logOut:hover {
    margin-left: 0px;
  }
  .infoBodyRight .infoBodyCol:nth-child(2).donteCol {
    padding: 40px 0px 0px;
  }
  .donateFormOnly {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bankcardTab .nav.nav-tabs {
    display: block;
  }
  .bankcardTab .nav-item .nav-link, .bankcardTab .nav-item .nav-link.active, .bankcardTab .nav-item .nav-link:hover, .bankcardTab .nav-item .nav-link:focus {
    width: 100%;
    margin-bottom: 15px;
  }
  .bankDetailsTitle {
    font-size: 22px;
  }
  .bankDetailsTitle2 {
    font-size: 16px;
  }
  .profileForm.bankForm .btn-Edit {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .blockBg .linkAccountList li span,
  .blockBg .unblockText,
  .linkAccountTitle,
  .settingMenu .settingMenuLi .settingMenu {
    font-size: 18px;
  }
  .linkAccNoti .linkAccountList li span,
  .securityBg .linkAccountList li span,
  .linkAcc .linkAccountList li span,
  .msgSettingBg .linkAccountList li span {
    font-size: 16px !important;
  }
  .settingLeftTitle {
    font-size: 24px;
  }
  .connectionsAvtarImg,
  .connectionsAvtarImg img {
    height: 40px;
    width: 40px;
  }
  .alphabaticallyConnections {
    width: 35px;
    height: 35px;
    font-size: 26px;
  }
  .messageHeader .connectionsAvtarImg, .messageHeader .connectionsAvtarImg img {
    height: 45px;
    width: 45px;
  }
  .chatPersonBox .connectionsAvtarImg, .chatPersonBox .connectionsAvtarImg img {
    height: 35px;
    width: 35px;
  }
  .chatTextAll {
    width: calc(100% - 40px);
  }
  .msgHeadingCall img {
    width: 18px;
  }
  .msgHeadingVideo img {
    width: 24px;
  }
  .msgHeadingDots img {
    width: 4px;
  }
  .connectionsCall {
    width: 20px;
  }
  .connectionsMsg {
    width: 20px;
    margin: 0px 12px 0px 9px;
  }
  .connectionsAvtarInfoCount {
    font-size: 12px;
    height: 22px;
    width: 34px;
  }
  ..alphabaticallyCount {
    font-size: 13px;
    height: 24px;
    width: 42px;
  }
  .profileTop .connectionsDetailsInfo {
    text-align: center;
    margin-top: 20px !important;
  }
}

@media (max-width:383px) {
  .perEvent {
    margin: 10px 4px !important;
  }
  .perEvent img {
    width: 85px;
  }
  .perEvent span {
    font-size: 14px !important;
  }
  .eventList .connectionsDetailsInfoName {
      font-size: 20px !important;
  }
  .eventList .connectionsDetailsInfoEvents span {
      font-size: 18px !important;
  }
}


@media (min-width: 1500px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -50px;
    background-size: 100% auto;
  }
}
@media (min-width: 1651px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -65px;
    background-size: 100% auto;
  }
  .homeAbout {
    margin-top: 200px;
  }
}
@media (min-width: 1801px) {
  #hero {
    background: url("../img/bannerbg.png") no-repeat right top -80px;
    background-size: 100% auto;
  }
  .homeAbout {
    margin-top: 250px;
  }
}
